[2016-04-05 11:47] Maroben opened #1 "TMS Index"
calculation of tms index to mercator coordinates.

[2016-04-05 12:00] klokan commented on #1
http://www.maptiler.org/google-maps-coordinates-tile-bounds-projection/
http://www.maptiler.org/google-maps-coordinates-tile-bounds-projection/globalmaptiles.py

[2016-04-05 13:10] Maroben commented on #4
eg file open dialog

[2016-04-05 13:54] Maroben commented on #1
thanks, this is very useful

[2016-04-05 13:54] #1 closed

[2016-04-06 08:26] sfkeller opened #6 "Add "Help" to "Add MVT Layer Dialog...""
Add weblink to "http://giswiki.hsr.ch/Vector_Tiles_Reader_QGIS_Plugin". See also GeoCSV plugin.

[2016-04-06 08:29] sfkeller commented on #4
Call the dialog "Add Vector Tiles Layer..." (deutsch "Vector Tiles Layer hinzufügen...")

[2016-04-06 08:31] sfkeller commented on #4
Remember file path, so next time the dialog is opened, the same path is set as lest time (see GeoCSV plugin).

[2016-04-06 08:58] sfkeller opened #9 "Design and add icon for plugin"
Add file vector_tiles_reader.png to github plugin repo.
Inspirations:
* WMS: http://docs.qgis.org/2.0/de/_images/mActionAddWmsLayer.png
* ...

[2016-04-06 13:40] sfkeller commented on #4
1. Choose good Layer name from metadata.
2. Take whaterever metadata is available from VT source.
3. Add Layer to the bottom of the Layer list (not the top), since currently VT are base maps.

See QuickMapServices for a good handling of base map layers:
https://github.com/nextgis/quickmapservices
QuickMapServices is also very well programmed Python plugin!

[2016-04-07 06:55] #6 closed

[2016-04-07 07:00] Maroben commented on #7
There is absolutely no need to add a translator for 5 name tags where (browse, cancel, ok and help) are recognised in any European language.

[2016-04-07 07:05] sfkeller commented on #7
Ok. But what about Error messages? You get internationalization almost for free in Qt.

[2016-04-07 07:11] Maroben commented on #7
I do not have any error handling yet >.<

[2016-04-07 07:35] Maroben commented on #4
for last comment opened a new issue

[2016-04-07 13:58] Maroben commented on #9
paint a 'v'

[2016-04-09 13:02] sfkeller opened #20 "Add minimal unit tests"
Add an initial test like "/test/test_init.py". Can copy it from GeoCSV plugin.

[2016-04-09 15:38] sfkeller opened #21 "Replace GNU comment section in source code"
Replace GNU comments in source files by reduced header as in GeoCSV plugin and delete author comments (version control takes care of that).

[2016-04-09 15:38] #9 closed

[2016-04-11 08:20] #21 closed

[2016-04-12 05:47] sfkeller commented on #18
Essor says now "No module named google.protobuf.internal". Pls. test e.g. on Alex' computer.

[2016-04-12 18:11] sfkeller commented on #18
Now still missing modules in Python runtime of QGIS? Pls. specify here...

[2016-04-13 07:03] Maroben commented on #18
no module named pkg_resources

[2016-04-13 07:12] Maroben commented on #18
contrib/mapbox_vector_tile/decoder.py
line 30:  self.tile.ParseFromString(pbf_data)

[2016-04-14 14:45] Maroben commented on #27
The mapzen/mapbox-vector-tile library does not support multi types

[2016-04-14 14:53] nvkelso commented on #27
Tell me more, please?

[2016-04-14 15:33] sfkeller commented on #27
We're missing handling of multi geometry types in mapzen/mapbox-vector-tile library . Are you by any chance working on any enhancements in this direction?

[2016-04-14 17:35] nvkelso commented on #27
@sfkeller Are you using the mapzen/mapbox-vector-tile to do the tile decoding and having a problem?

Or are you running into problems with mapzen's vector tile service?

/cc @zerebubuth and @rmarianski

[2016-04-14 17:37] nvkelso commented on #27
Is the plugin in a far enough state for us to install and help debug? Are there instructions?

[2016-04-14 18:02] sfkeller commented on #27
@nvkelso Many thanks for offering help! As of beginning of next week there will be a very first code which can be tested with some fiddling (Linux only). Then, the plugin can be downloaded as zip from this repo and installed manually in the plugins directory of QGIS.

I changed this issue from bug to feature, since it's about extending your nice lib to multi-geometries. See https://github.com/geom

[2016-04-14 18:46] rmarianski commented on #27
Multipolygon decoding should work. What version of the library are you using? Can you try and see if it works with master?

[2016-04-14 20:23] sfkeller commented on #27
@Maroben Can you pls. push your most recent code a.s.a.p. to this repo so that we can help testing?

[2016-04-15 15:48] sfkeller commented on #27
The mapzen/mapbox-vector-tile library is correct regarding handling of multi-geometries. It's the client (this reader code) which has to handle multi-geometries if needed. See #31.

[2016-04-15 18:02] nvkelso commented on #27
Whew, that's a relief!

[2016-04-19 13:16] sfkeller commented on #3
Currently following two temporary files are written (both in method mbtiles): 1. After reading PBF from MBTiles and 2. after decoding. Both need to be replaced by Python structures.

[2016-04-20 06:41] sfkeller commented on #30
Can't you check, if scale, crs and extent is available?

Then try this:

self.canvas = QgsMapCanvas()
self.canvas.setExtent(layer.extent())
zoomRectangle = QgsRectangle(pos[0]-offset, pos[1]-offset,pos[0]+offset,pos[1]+offset)
self.canvas.setExtent(zoomRectangle)
self.canvas.refresh()

or
render = QgsMapRenderer()
rect = QgsRectangle(render.fullExtent())
render.setExtent(rect)
render.setDestinatio

[2016-04-20 06:44] sfkeller commented on #31
There are two possibilities: Either adapt Mapzen's decoder library or extend the code which builds the structure for the constructor of  the vector layer.

[2016-04-29 13:31] nvkelso commented on #34
Is masking the tile contents to tile boundary another option?

[2016-05-10 14:06] sfkeller commented on #3
Choose/keep QgsVectorLayer/OGR which can handle GeoJSON files. MemoryLayer is an alternative where one can append features (but this requires to convert geometry objects in QGIS before).

[2016-10-18 23:32] sfkeller commented on #35
Thanks for the report. This bug under MacOSX is probably same as #18 for Windows. Note that this is work in (slow) progress! Expected release as experimental code is around June 2017.

[2016-10-18 23:37] palmerj commented on #35
Thanks. I just tried on Ubuntu and got the same message. Are there any python libraries I need installed first?

[2016-10-19 06:19] sfkeller commented on #35
Yes; those Protobuf. But currently don't have time to make a fix - that's why release is scheduled for next year.
Just wondering: What's the case for which you'd like to use this plugin? If it's just as base map then WMTS (e.g. QuickmapServices) is probably better suited, since this plugin delivers vector tiles as geometries which need to be symbolized separately.

[2016-10-19 09:33] palmerj commented on #35
I will like to do some visualisation of mbtiles files generated vtiles from tippecanoe. So it's not possible to do wmts unless I use something like tileserver-gl.

[2017-03-11 11:23] Murthy10 opened #3 ".gitignore"
I recommend you to enhance your .gitignore file with this template:
https://github.com/github/gitignore/blob/master/Python.gitignore

Add don't add IDE specific files to the repository, it's often a good idea to use a global .gitignore for this.
`git config --global core.excludesfile $HOME/.gitignore `

After this command you could add vs code specific records in your global gitignore file.
https:

[2017-03-12 11:54] mnboos opened #4 "Handle invalid geometries when merging features over tile boundaries"
The current approach is working as long as there are only valid geometries. However, in case of null geometries, creating an intersection layer in QGIS using processing won't work. A solution would be to clean the layer in prior, using grass7:v.clean. Unfortunately, there is a bug in qgis which makes it impossible to use this plugin from python code (https://hub.qgis.org/issues/16195)

[2017-03-12 12:51] mnboos opened #5 "Fix the imports"
It's a bit of a mess where, how and when imports to required libraries are made. This should be improved

[2017-03-12 13:06] mnboos commented on #3
Thanks, I appreciate the feedback and did what you suggested.

[2017-03-12 13:06] #3 closed, assigned to nobody

[2017-03-12 13:08] mnboos commented on #4
Current workaround: Use qgis "Check validity" tool.
Impact: The invalid features are not fixed but just removed.

[2017-03-12 14:25] mnboos opened #7 "Feature merging not working with a big number of tiles"
If a lot of tiles are loaded (i.e. >20), qgis sometimes crashes.

[2017-03-12 15:17] mnboos opened #8 "Use memory layers during feature-merge"
Currently a lot of temporary geoJson files are written to the disk during the feature merge. A better approach would be to use qgis memory layers. However, there is a bug that prevents using memory layers in processing algorithms (http://hub.qgis.org/issues/14430). This bug will be fixed for qgis 3, but not for 2.x :-(

[2017-03-12 18:50] sfkeller commented on #4
I strongly recommend not to use non-core libraries like GRASS or SAGA (even though they are great and well respected software). Reason is to lower dependencies (there are many QGIS installations without them) and because both are rather large in size.

A null geometry is (luckily) not the same as an invalid geometry. A null geometry should be much easierr to detect than an invalid geometry.

Aren'

[2017-03-12 19:09] sfkeller commented on #7
There are several approaches to handle this. In webservices like WFS or ArcGIS REST Services (see https://giswiki.hsr.ch/ArcGIS_REST_API_Connector_QGIS_Plugin ).
A rather simple (but not so ideal) is to introduce an option/parameter (e.g. "maxTiles" or "maxFeatures"). If this limit is reached, reading process stops and issues a QGIS Warning.

[2017-03-12 19:21] mnboos commented on #4
I think I confused NULL geometries with invalid ones. The null geometries are being ignored when creating the intersection layer.

[2017-03-12 23:29] mnboos commented on #4
What I figured out: QGIS cannot handle geometries with at least one inner ring that is located outside of the exterior ring. To fix this problem, these geometries have to be split to multiple features (e.g. one for the exterior ring, one for the inner ring). Winding order should be irrelevant in this case, the inner ringe doesn't represent a hole anyways.

![invalid geometry](https://cloud.githubu

[2017-03-12 23:38] sfkeller commented on #4
QGIS is correct: An interior ring is *always* inside an exterior one.
That's according to computational geometry and GIS standards like OGC SFA: http://www.opengeospatial.org/standards/sfa and/or http://www.interlis.ch/interlis2/docs23/ili2-refman_2006-04-13_e.pdf .

Is this "interior ring" perhaps part of another exterior one - or part of the same large polygon before it was clipped?

[2017-03-13 06:16] mnboos commented on #4
It belonged to the same polygon, before it was separated during tile generation.

![image](https://cloud.githubusercontent.com/assets/22575883/23843551/faec06f6-07bc-11e7-9156-453e7e0b882f.png)

[2017-03-13 15:36] mnboos commented on #7
This problem disappeared during the improvement of the merging process.

[2017-03-13 15:36] #7 closed, assigned to mnboos

[2017-03-13 15:43] mnboos commented on #8
As the qgis bug will not be fixed for version 2.x, this issue will be closed. Furthermore, the temporary files may be an advantage regarding memory management.

[2017-03-13 15:43] #8 closed, assigned to nobody

[2017-03-17 09:14] mnboos commented on #4
Due to the improved tile-merging, its no longer necessary to fix invalid geometries. QGIS will show them anyway.

[2017-03-17 09:14] #4 closed, assigned to sfkeller, mnboos

[2017-03-17 10:32] mnboos commented on #5
Fixed in f155a85

[2017-03-17 10:32] #5 closed, assigned to mnboos

[2017-03-21 16:35] mnboos opened #10 "Handle case where "maxzoom" or "maskLevel" is not found"
It can happen that "maxzoom" or "maskLevel" are not included in the metadata table. In this case, the masklayer can be ignored, the maxzoom can be loaded from the tiles table.

[2017-03-21 16:36] mnboos opened #11 "Handle invalid mbtiles"
mbtiles can only be processed, when the binary tile_data is a gzipped protobuf. PNGs or other content can not be processed at the moment.

[2017-03-21 16:37] mnboos commented on #11
Solution: the first two bytes of the binary content specifies, if it's gzipped content or not.

[2017-03-21 18:33] mnboos opened #12 "Use temppath provided by OS"
Instead of using the plugin folder as temp directory, a temp folder provided by the operating system should be used

[2017-03-21 18:36] mnboos opened #13 "Improve handling of recent files"
A more sophisticated handling of recent files would be nice.

- order by latest accesstime
- limit size of recent list (delete oldest first)

[2017-04-04 18:19] mnboos commented on #11
Done

[2017-04-04 18:19] #11 closed, assigned to mnboos

[2017-04-08 09:38] mnboos commented on #12
Done

[2017-04-08 09:38] #12 closed, assigned to mnboos

[2017-04-10 18:33] mnboos opened #14 "Layout flaws on high DPI screens (UX)"
The layout doesn't look good on high DPI screens

[2017-04-10 18:37] mnboos opened #15 "Implement scale dependent zoom"
Scale dependent zoom cannot be enabled. The checkbox on the UI is disabled because the functionality is not yet implemented.

[2017-04-11 09:55] tomchadwin opened #16 "ImportError: No module named shapely.geometry.base"
Triggered when I click "Open" in the plugin dialog box:

[code]

[2017-04-11 13:46] tomchadwin opened #17 "Progress bar dialog constantly takes focus from all other applications"
Experienced on Win7x64

[2017-04-11 13:47] tomchadwin commented on #16
This is under Win7x64. Solved by downloading Shapely wheel and doing `pip install`. Probably need to add as a prerequisite, as I don't think there is any mechanism to install as part of the QGIS plugin.

[2017-04-11 14:08] tomchadwin opened #18 "Can I identify these layers via the Python API"
Is there any way in PyQGIS to identify that the imported layer/group is a vector tile one?

Background: I code qgis2web, and it would be great to be able to export such vector tile layers back out to webmaps. To do that, I'd need to be able to find out which items in the layerTree are imported vector tile layers, and what the source is.

[2017-04-11 16:53] mnboos commented on #16
I added shapely as included dependency. Would be happy if you could test it in your environment.  Just clone the master branch.

[2017-04-11 17:02] mnboos commented on #17
I think that's due to a "feature" of the progress dialog to show itself, if it isn't visible. Didn't realize it would take the focus from other applications and therefore I fixed it in 606efdf.

[2017-04-11 17:07] mnboos commented on #18
There are already some custom attributes on feature level (_zoomLevel, _featureNr, _col, _row). However, these might still change. I think it might be a good idea, to add metadata to the layer to identify it as vector tile layer.

@sfkeller what name would you suggest for such an attribute? How about "_vectorTileSource" that contains  the filename with or without the path of the mbtiles. For serve

[2017-04-11 17:14] tomchadwin commented on #16
Will do. How do I manually uninstall a wheel? I'll find out.

[2017-04-11 17:15] mnboos commented on #16
I manually deleted the shapely folder in C:\Program Files\QGIS 2.18\apps\Python27\lib\site-packages.
Not sure if that's the way to go.

[2017-04-11 17:21] sfkeller commented on #18
@mnboos You want to attach to every feature the mbtiles filename? Is this really needed? I think something like _vectorTileSource belongs on a single place at layer properties - in fact, there must be a PyQT variable already existing.

[2017-04-11 17:22] mnboos commented on #18
@sfkeller no not on every feature, only on every layer.

[2017-04-11 17:39] sfkeller commented on #18
Layler level variables? http://nyalldawson.net/2015/12/exploring-variables-in-qgis-pt-3-layer-level-variables/

[2017-04-11 17:45] tomchadwin commented on #18
Or layer custom properties?

https://qgis.org/api/classQgsMapLayer.html#a7bf94cfa08abc37b75cc53dc921bb15e

[2017-04-12 12:35] tomchadwin opened #19 "Progress dialog needs cancel button"
These are often going to be long, IO-intensive operations, so the ability to cancel is important.

[2017-04-12 12:47] tomchadwin commented on #16
Fix confirmed - thanks.

[2017-04-12 12:47] #16 closed, assigned to nobody

[2017-04-12 12:47] tomchadwin commented on #17
Fix confirmed - thanks again,

[2017-04-12 12:47] #17 closed, assigned to nobody

[2017-04-12 17:40] mnboos commented on #19
This is already planned and will be implemented soon.

[2017-04-12 19:16] tomchadwin commented on #19
Splendid. Thanks!

[2017-04-21 12:39] mnboos commented on #13
The UI for opening recently used files has been removed.

[2017-04-21 12:39] #13 closed, assigned to mnboos

[2017-04-21 12:40] mnboos commented on #19
Done with release v0.5.0-beta

[2017-04-21 12:40] #19 closed, assigned to nobody

[2017-04-24 10:09] sfkeller opened #22 "Add recognition of "crs" in TileJSON"
See https://github.com/mapbox/tilejson-spec/issues/24

[2017-04-24 13:42] mnboos opened #23 "Improve the OpenMapTiles default styling"
Some default styles for OpenMapTiles sources are delivered with the plugin. However, some (important) styles are missing and other should be improved.

- Improve crossing/ending roads
- Assure svg-Markers are working (hardcoded svg paths) (e.g. helipad)

[2017-04-24 13:43] mnboos opened #24 "Improve UX"
The user experience is sometimes a bit bumpy and this needs to be improved.

[2017-04-24 13:44] mnboos opened #25 "Create Help / Documentation"
With an increasing number of features and options, I think there's a necessity for a) a documentation and b) a user guide.

[2017-04-24 13:45] mnboos opened #26 "Implement caching (big final sprint of PA1)"
The performance of the plugin could be improved with a caching mechanism.

[2017-04-24 13:46] mnboos opened #27 "Include predefined datasources"
It would be nice if there were some predefined datasources available in the plugin. So new users could start right away without searching vector tile services or downloading mbtiles.

[2017-04-24 13:49] mnboos opened #28 "Improve CRS handling"
Currently the plugin expects sources with EPSG:3857. If that's not the case, there might be some problems. This has to be tested and improved. However, the problem is still the availability of test data sources.

[2017-04-24 13:54] mnboos commented on #14
There has been some progress. What still needs to be done: set a bigger window/dialog size on high-DPI devices.

[2017-04-24 13:58] mnboos commented on #18
This is not yet solved. I propose a layer level variable that has the value of the layer-source (i.e. the path to the mbtiles or the xyz-url)

[2017-04-25 09:44] sfkeller opened #29 "Dedup/aggregate objects occuring in VT up to 4x within buffer outside grid"
Looking at „Fäschtinseli“ (near HSR) this named object occurs 3x in the final QGIS layer. The screenshot below shows 3x for island name and 3x for bbq place [1].

This should be deduplicated and eventually aggregated into an multi-valued field.

The reason for this duplication may be that VT generators apply a „buffer_size“ which is quite large (up to 254 units) for POIs/labels. See also MB VT spe

[2017-04-25 12:08] tomchadwin opened #30 "Add layer gone?"
I feel rather stupid, but I've just upgraded to 0.6.1, and I now don't know how to use the plugin. The only option in `Plugins > Vector Tiles Reader` is `About`. How do I import a VT mbtiles file?

[2017-04-25 12:56] sfkeller commented on #30
Good question: Menu entries should be enhanced.

See the icon from "Add a Vector Tile Layer" in the Layers Toolbar (mostly to the left).

Anyway see https://giswiki.hsr.ch/Vector_Tiles_Reader_QGIS_Plugin#How_to_Add_a_Vector_Tile_Layer (just updated).

Perhaps @mnboos can enhance the plugin and the wiki help page.

[2017-04-25 12:59] tomchadwin commented on #30
Urgh. Sorry not to have found that menu item. Thanks.

[2017-04-25 13:00] tomchadwin commented on #19
Thanks - confirmed that it kind of works, but I'll open a new issue for the problem.

[2017-04-25 13:02] tomchadwin opened #31 "Dialog cancel button leaves layer group"
1. Add mbtiles local vector tile layer
2. Click cancel in progress dialog

An empty layer group with the name of the mbtiles file remains in the QGIS layers list.

[2017-04-25 13:28] tomchadwin commented on #30
So I added a local layer fine, but I don't understand the instructions on that page for a tileserver:

Which menu? Where?

[2017-04-25 13:31] sfkeller commented on #30
Currently the menu is gone.
I meant the icon in the Layers Toolbar.
The menu item should show up again under "Layer > Add Layer..." and probably under "Vector".

[2017-04-25 13:32] tomchadwin commented on #30
Got it. Apologies again.

[2017-04-25 13:32] #30 closed, assigned to nobody

[2017-04-25 15:50] mnboos commented on #31
Done

[2017-04-25 15:50] #31 closed, assigned to nobody

[2017-04-25 16:22] mnboos commented on #29
@sfkeller Do you think it's enough to assure the poi names are unique or should I allow duplicated poi names if there are NOT on the same or neighbouring tiles?

[2017-04-25 19:00] sfkeller commented on #29
The higher goal is "simply" to recreate the same OSM object. So, if there have been two OSM objects in the original OSM database (as it's the case with "Fäschtinseli" as there is one island way and a bbq node inside/nearby with same name), I'd expect to get two objects back in the QGIS layer after decoding a VT source (unless the VT generator did some processing before he encoded it in which case

[2017-04-26 23:12] sfkeller opened #32 "Implement free default Vector Tile Server connection in Add Layer dialog"
The dialog "Add Layer(s) from a Vector Tile Server" currently initially has no entries. It would be convenient for new users to have a default entry. Klokan offers such a free access given the API key is not shown. So, I'd suggest to add a default entry e.g.

Name: OpenMapTiles (don't change TileJSON URL; get you own key from openmaptiles.com/hosting/)
TileJSON URL: http://free.tilehosting.com/dat

[2017-04-27 19:40] mnboos commented on #18
Done. You can find a layer variable "vector_tile_source" with the name of the corresponding source. If you wish any extensions or changes, please let me know.

[2017-04-27 19:54] sfkeller commented on #28
Related to #22 ?

[2017-04-27 19:56] sfkeller commented on #32
Related to #27 .

[2017-04-28 08:37] mnboos opened #33 "Implement Load/Save on server connections dialog"
The buttons for loading/saving the connections are not working yet.

[2017-04-28 09:21] mnboos commented on #32
See the area "Attribution", is that okay?

![image](https://cloud.githubusercontent.com/assets/22575883/25522862/c637ba06-2c04-11e7-9f81-c8a585b4f2bd.png)

[2017-04-28 09:22] sfkeller opened #34 "Refactor directory and filenames to lowercase and underscore instead spaces"
The plugin dir "Vector-Tiles-Reader-QGIS-Plugin" (under %userprofile%/.qgis2/python/plugins/ ) should be renamed to "vector-tiles-reader" (if possible); and the "sample data" to "sample_data".

[2017-04-28 09:36] sfkeller commented on #32
Almost :-) Set
[code]

And what about theses metadata sections?
[code]

[2017-04-28 09:50] mnboos opened #35 "Make some metadata available on each layer"
Set the metadata per layer.

![image](https://cloud.githubusercontent.com/assets/22575883/25523949/debf623c-2c08-11e7-8a76-b1122e741807.png)

[2017-04-28 09:51] mnboos commented on #32
Okay I've changed the attribution.

For the other metadata I've added issue #35

[2017-04-28 09:52] #32 closed, assigned to nobody

[2017-04-28 09:53] mnboos commented on #27
One predefined connection is now available. More could be added if available.

[2017-04-28 09:53] #27 closed, assigned to sfkeller

[2017-04-28 10:15] mnboos commented on #34
I renamed sample_data.

To be able to rename the directory name, I assume I'll have to delete all old versions and then add the latest one. When I tried to upload the zip with another foldername, it has been declined because the folder name was not the same as in the uploads before.

[2017-04-28 10:17] tomchadwin commented on #34
The root folder in the zip must have the same name. You can't change a plugin name in the QGIS plugins repo. It's been asked before, and it's simply not supported. You would have to delete the existing plugin and upload a new one with the new name.

[2017-04-28 10:36] tomchadwin opened #36 "Tile server - fundamental question about plugin functionality"
How does this work with tileservers? (this question also applies to local mbtiles, but the server issue is the more important one.)

Tiles, whether raster or vector, exist to allow chunking/streaming of big data to the client. This entails the following two broad actions:

1. Only load what is required
2. Unload what is no longer required

Does this plugin do this? Or does it simply pull in everyt

[2017-04-28 11:42] mnboos commented on #36
The plugin loads the current QGIS canvas bounds. Due to the vast amount of data this can result in, the plugin provides functionality to limit the number of tiles to be loaded.

Unloading no longer required data would mean, to remove this layers from QGIS. I think that would heavily infere with a proper user experience and therefore such an auto-remove feature is not implemented.

However, perform

[2017-04-28 11:44] mnboos commented on #34
I don't want to rename the plugin in the repo, just the folder that is created under "%userprofile%/.qgis2/python/plugins/"

[2017-04-28 11:55] sfkeller commented on #34
Do what's possible. I'm OK not to rename the plugin in the repo but just the folder.

[2017-04-28 12:08] tomchadwin commented on #36
I'm just concerned that this means the plugin would not be usable for common tileserver situations. As in, it would be usable to load as a one-off, but people's expectations for tiles are as I described. Ideally, the workflow should be something along the lines of:

1. Load the tiles which intersect with the viewport
2. Listen for pan/zoom etc events
3. On pan/zoom etc load in the tiles which now

[2017-04-28 12:10] tomchadwin commented on #34
Since you are still early and experimental, I'd consider making a considered decision on the plugin name, and getting folder and plugin name in sync, by deleting the existing plugin from the repo if necessary. Everything is then consistent going forwards. Apologies for intruding on the discussion.

[2017-04-28 12:21] mnboos commented on #34
No need to apologize. I'm happy and appreciate all feedback.

So I think I should delete and re-add the plugin with a proper folder and plugin name before the next release.

@sfkeller the plugin name "Vector Tiles Reader" is still okay?
@tomchadwin Am I right with the assumption, that the link to the plugin contains the name of the plugin folder in the zip?

[2017-04-28 12:22] sfkeller commented on #36
Keep in mind that this plugin is originally designed to serve as an VT inspection and debugging tool. Initially, some people did'nt believe that such a VT reader is possible at all.

But your concerns about performance and resource efficiency are valid. We are aware of that and we could assign a separate sprint to that.

[2017-04-28 12:22] tomchadwin commented on #34
@mnboos Which link to the plugin?

[2017-04-28 12:22] mnboos commented on #34
The one in the QGIS plugin repo:
http://plugins.qgis.org/plugins/Vector-Tiles-Reader-QGIS-Plugin/

[2017-04-28 12:25] sfkeller commented on #34
Plugin name "Vector Tiles Reader" is still okay. This still means that I'd like to speak as "Vector Tiles Reader" QGIS Plugin if needed, and that's the reason why https://giswiki.hsr.ch/Vector_Tiles_Reader_QGIS_Plugin is still valid to me.

[2017-04-28 12:30] mnboos commented on #34
Okay, that means the new naming would be:
Plugin name in QGIS repository: Vector Tiles Reader
Plugin folder name: vector_tiles_reader
giswiki url wouldn't change.

[2017-04-28 12:31] tomchadwin commented on #34
@mnboos If I understand the question correctly, and understand the plugin repo correctly, the answer is yes: for `plugins.qgis.org/plugins/plugin_name` and `.qgis2/python/plugins/plugin_name`, "plugin_name" cannot be different in each case.

[2017-04-28 12:32] tomchadwin commented on #34
Or you could choose something more like "vt2qgis" or some such.

[2017-04-28 12:46] tomchadwin opened #37 "ValueError: substring not found"
[code]

[2017-04-28 12:55] mnboos commented on #37
Thank you, fixed it. Out of curiosity: what are you using as tileservice?

[2017-04-28 13:02] sfkeller commented on #37
(@tomchadwin Just out of gratitude I'd like to thank you for your efforts in your engagement for this plugin :-) )

[2017-04-28 13:06] tomchadwin commented on #37
@mnboos I followed your instructions to download a citywide .mbtiles from OpenMapTiles.

[2017-04-28 13:08] tomchadwin commented on #37
@sfkeller You are very welcome indeed - thanks for saying that! But my motives are selfish - I see this plugin as a potential way to have vector tiles supported by qgis2web. But also, I have had so much help from others with qgis2web, that tiny little contributions like this are the least I can do to give back.

Keep up the great work!

[2017-04-28 13:14] tomchadwin commented on #37
Confirmed fixed - thanks!

[2017-04-28 13:14] #37 closed, assigned to nobody

[2017-04-28 13:19] tomchadwin commented on #18
Sorry to be slow, but how do I retrieve that value in PyQGIS?

[2017-04-28 13:28] mnboos commented on #18
I use
`QgsExpressionContextUtils.setLayerVariable()`
to set the variable. But it seems there's a problem, as on some layers the value isn't set. Ugh.. have to investigate that...

To answer your question:
[code]

[2017-04-28 13:32] tomchadwin commented on #18
Thanks. Are you sure `QgsMapLayer.customProperty()` would not be an easier approach?

[2017-04-28 13:52] mnboos commented on #18
Correct me if I'm wrong, but the custom properties are not visible anywhere in QGIS? Personally, I'd prefer something "visible", but yes, I can use custom properties instead as the layer level variables don't seem to be reliable.

I added a custom property with the same name 'vector_tile_source'. Let me know if it works.

[2017-04-28 13:53] tomchadwin commented on #18
No, I don't think they are visible in the GUI.

[2017-04-28 13:58] tomchadwin commented on #18
Confirmed custom property works, but it seems to return the filename only, no path, no file extension. Both of those would be useful, if they can be added. Thanks for the work!

[2017-04-28 14:02] mnboos commented on #18
That's right but I can also include the filename and path.

[2017-04-28 14:10] mnboos commented on #29
By "same geometry" you mean the geometry type (point, linestring, polygon) or the geometry itself, i.e. the coordinates (not the location) of the feature?

[2017-04-28 14:54] tomchadwin commented on #31
The cancel behaviour seems to have changed, but it probably fine. The layers created so far remain. Is that the best approach, or should they be deleted?

[2017-04-28 14:57] tomchadwin opened #38 "Categorized layers better than layer groups?"
I don't know the answer to this, but perhaps it would be better if a smaller number of categorized layers were created, and then a categorized renderer applied. For example, at the moment, a `place` layer group is created with layers `suburb`, `hamlet`, etc. Would it not be tidier to make `place` a layer, with `suburb`, `hamlet` etc as categories?

[2017-04-28 15:02] mnboos commented on #31
IMHO is that okay. I already like this behaviour as I can decide spontaneously to cancel the loading process but nevertheless have some data to work with.

[2017-04-28 15:05] tomchadwin commented on #31
Agreed. Simple to delete the root layer group if you want to revert. Thanks.

[2017-04-28 15:14] mnboos commented on #29
Done. @sfkeller please make a short test if it works as you expect.

[2017-04-29 06:59] #33 closed, assigned to nobody

[2017-04-29 07:00] #29 closed, assigned to nobody

[2017-04-29 07:07] mnboos commented on #18
It's now filename/url

[2017-04-29 07:07] #18 closed, assigned to nobody

[2017-04-29 07:46] mnboos commented on #38
As a result of a smaller QGIS layer hierarchy, the loading process is significantly faster in some cases, as fewer layers have to be created and processed by QGIS. On the other hand, due to the new layering, additional time concerning the styling has to be invested, as I have to create new, rule-based styles and most of the current styles would be obsolete.

Personally, I would invest the time int

[2017-04-29 07:55] sfkeller commented on #38
I think users profit from a readable style whereas the focus of this semester thesis is of course SW engineering and dev. Actually since performance is a big issue here, the new layering and thus a bit more work in styling is a good investment. So, go ahead in styling like labels, scale dependent parameters, rule-based styles, etc.

[2017-04-29 08:30] sfkeller commented on #38
Making a readable style get's more insights about an automated default style generator.

In any case keep an eye on the "cartographic elements" ordering "label, point/line/area signatures, then raster (in the screenshot above there's the poi layer which is point type and should be moved almost to the top). In case labels are attachted to point/line/area there's the possibility in QGIS to activate

[2017-04-29 08:38] mnboos commented on #38
The layer order results from your suggestion that you sent me per mail:
![cartographic_ordering_stefan](https://cloud.githubusercontent.com/assets/22575883/25554215/ebef7464-2cc7-11e7-95af-93ece3d2074f.png)

[2017-04-29 08:40] sfkeller commented on #38
Right, sorry, so poi seems to the topmost point layer just before the "label layers".

[2017-04-29 08:43] sfkeller commented on #36
See also #26 .

[2017-04-29 08:44] sfkeller commented on #26
That could be an issue big enough (indeed) for a final sprint.

[2017-04-29 10:13] tomchadwin commented on #38
Glad you both think its worth investigating. Main difficulty in implementation is that the only groups which should be turned into categorized layers are those which have only direct children - no grandchildren, etc. That will take a little work to achieve.

[2017-04-29 10:15] tomchadwin commented on #26
Agreed. Caching is one of the hardest things to design and implement successfully.

[2017-04-29 10:20] sfkeller commented on #26
Yes. Motto is "Make it right before making it faster" :-)

[2017-05-01 06:47] mnboos commented on #15
This will not be implemented due to the decision, that it would infer to much with a proper user experience.

[2017-05-01 07:48] mnboos commented on #23
I'm currently using absolute paths to svg icons for my styles. Obviously that's only working on my local machine. I'd rather use paths relative to the plugin directory. Does any of you @sfkeller and @tomchadwin know, how this can be done?

One option would be, to modify the style qml file during runtime and replacing the hardcoded path (respectivly a substitute like {iconspath}) with the actual pa

[2017-05-01 08:55] mnboos commented on #23
Solved.

I "calculate" the path for a specific POI (e.g. 'restaurant' or 'ferry_terminal') in the code and assign it to the feature as attribute. This way the style is as clean as possible and I've got the possibility to add additional logic when creating the path.

[2017-05-01 10:16] tomchadwin commented on #23
Can you point me towards the specific code which does this?

[2017-05-01 10:19] mnboos commented on #23
Here you go (function '_get_icon_path'): https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/blob/master/vt_reader.py#L442

[2017-05-01 10:22] tomchadwin commented on #23
Looks good. Just not sure about assigning the path as a feature attribute. You'd be better off defining a QGIS style. Where's that code?

[2017-05-01 10:24] mnboos commented on #23
The QGIS styles are predefined in the folder 'styles'
What do you mean by 'posh'?

[2017-05-01 10:30] tomchadwin commented on #23
#damnyouautocorrect

"path"

[2017-05-01 10:55] sfkeller commented on #28
Waiting for data source from Klokan.

[2017-05-01 13:19] pcav opened #41 "Please explain plugin usefulness"
There are several other plugins dealing at various levels with tiles. Please make it clear in the About what makes this plugin necessary.
Also it would be appreciated if you could explore the possibility of merging your work with some of the existing plugins.

[2017-05-01 13:24] mnboos commented on #41
This plugin has already been accepted in the QGIS plugins repository. I had to delete and re-add it in order to change the folder name inside the zip-archive.

However; this plugin enables a QGIS user to read vector tiles from either a file or a tile-server which serves vector tiles (e.g. http://openmaptiles.org). I don't see any other plugins that support vector tiles from files or servers.

[2017-05-01 13:27] pcav commented on #41
Thanks for the clarification. Now reapproved.

[2017-05-01 13:27] #41 closed, assigned to nobody

[2017-05-01 13:29] mnboos commented on #34
Plugin with new name accepted: http://plugins.qgis.org/plugins/vector_tiles_reader/

[2017-05-01 13:29] #34 closed, assigned to mnboos

[2017-05-01 13:31] mnboos commented on #38
Closing this, as the new layering is sufficing at the moment.

[2017-05-01 13:31] #38 closed, assigned to nobody

[2017-05-01 14:41] sfkeller commented on #23
@mnboos Just to be sure: In menu "Settings > Options" dialog, in Tab "System", there "SVG paths" where QGIS searches for a SVG symbol. There's a default path I think "C:/Users/sfkeller/.qgis2//svg/" (weird double slash...). This allosw users to organize an arbitrary place where they maintain SVG symbols.

Your solution to bundle it with your plugin sounds reasonable. Actually, you could update thi

[2017-05-01 18:29] mnboos commented on #28
Good news: Was able to test with t-rex and it worked!

[2017-05-01 23:00] sfkeller commented on #23
I just tested version 0.7. Looks good - but styling still needs some enhancement.
Take OSM Standard Style (OSM Default Style) as a benchmark. You can visually compare with OSM Standard simply by loading the raster tiles using QuickMapServices plugin.
I mainly see that place labels are missing and primary/secondary roads should be shown much with broader width and with double-lines.
Then in the "po

[2017-05-04 18:24] mnboos opened #42 "Loading user selected zoom-level not working with server connections"
Loading another zoom-level than 14 is currently not working with server connections. There might be some hardcoded level-14 logic which has to be made generic.

[2017-05-04 18:37] mnboos commented on #42
Fixed

[2017-05-04 18:37] #42 closed, assigned to nobody

[2017-05-05 08:19] mnboos opened #43 "Show warning when tile-limit is hit (UX)"
When a user loads data and a tile limit is set, a warning shall be shown as soon as the limit kicks in.

"Loaded **n** tiles only, according to the options"

[2017-05-05 08:30] mnboos opened #44 "Open sample data folder on first browse (UX)"
Instead of opening the users home directory, the folder with the sample mbtiles should be opened

[2017-05-05 08:41] mnboos opened #45 "Add menu entry for load/reload"
"Reload/Load features overlapping the view extent"

[2017-05-05 09:06] mnboos opened #46 "Add layers according to schema"
QGIS groups shall be created according to the "vector_layers" in the metadata of the tile source. As a result there may be some empty groups after loading (e.g. "ocean" is loaded, an empty group could be "glacier").

As a result of this change, the file connection dialog will be removed and the server connection dialog will serve for both connection types. The connection type has to be selected wh

[2017-05-05 09:10] mnboos opened #47 "Add feature: load only selected layers"
Extend the load dialogs so, that a user can select any available layers and only the selected layers will be loaded

[2017-05-05 09:21] mnboos opened #48 "Move menu entry from "Plugins" to "Vector""
* Move the menu entry from the "Plugins" to the "Vector" menu
* Add the "Add" button to the same menu
* The other menus "Add Layer" etc. stay the same

[2017-05-05 09:26] mnboos opened #49 "Show available layers when loading from mbtiles"
* Use the same dialog for file and for server connections.
* When a connection is created, the user must either choose file or server

[2017-05-05 09:31] mnboos opened #50 "Improve the feature attribute ordering in qgis"
The custom attributes (starting with underscore) should be at the end. If this is even possible.

[2017-05-05 09:58] mnboos opened #51 "Remove all unnecessary feature attributes"
Remove (most of) the custom feature attributes like "_col", "_row", "_zoomLevel", "_geoType"

[2017-05-05 10:09] mnboos commented on #23
**TODO**
* The absolute paths must be removed from the features. Use relative paths.
* Rename "_svgPath" to "_symbol"
* Add svg path to QGIS
* Edit style for "place" to show label instead of point

[2017-05-05 14:50] mnboos commented on #23
QGIS restart is required after adding custom svg-path in the options

[2017-05-05 15:06] mnboos commented on #51
Done

[2017-05-05 15:06] #51 closed, assigned to nobody

[2017-05-05 15:22] mnboos commented on #48
Done

[2017-05-05 15:22] #48 closed, assigned to nobody

[2017-05-05 15:23] mnboos commented on #50
The attributes have been removed with #51

[2017-05-05 15:23] #50 closed, assigned to nobody

[2017-05-05 15:27] mnboos commented on #46
See #49

[2017-05-06 22:18] sfkeller opened #52 "Background style in map styling of plugin"
In a map style there are several possibilities what is shown when there is no data: the blue sea style? a light grey continent style? a grey-scaled relief? a graticule or white/nothing?

In the predefined OpenMapTile style; (see also #23) there's currently white/nothing. In OpenMapTiles it's light grey continent style AFAIK (see http://maputnik.com/ ); like in Mapbox styles AFAIK. In Swiss geo.adm

[2017-05-06 22:21] sfkeller commented on #23
Two style enhancements:
* Max. Scale-based visibility of labels (like housenumber) should be 5001 (not 5000).
* Color of housenumber labels should be black (not the same grey as buildings).

[2017-05-07 11:11] sfkeller commented on #35
See tab metadata in "Layer Properties", section "Description":
* Short name: <<the effective layer name from TileJSON file>>
* DataURL: <<the URL from from TileJSON file>> (with API key except for default data sources)>>

[2017-05-07 11:15] sfkeller commented on #24
When opening a Vector Tiles Server Layer (especiall when mergin tiles etc.) there's a small progress dialog and there are also blue info text showing up: Pls. check all infos to reduce duplication and confusion of the user. And these log infos should be consistent between adding Vector Tiles from file or server.

[2017-05-08 05:46] mnboos commented on #52
Either an option on the dialog or we use the same color as on OpenStreetMap (due to the fact, that the predefiend OMT style is similar)

[2017-05-08 05:48] mnboos commented on #23
Another enhancement to be done:
using the "rank" attribute to define which features shall be priorized at a certain zoom level.

edit: I don't know if this is even possible just with a QGIS expression.

[2017-05-08 05:55] tomchadwin commented on #52
If there's no data, shouldn't it be blank? The imported layers might have other existing layers under them in QGIS, which people would want to see through these gaps in the vector tile layer. Remember that the imported data won't necessarily always be OSM-derived, or necessarily be a base map of any kind.

[2017-05-08 06:35] mnboos commented on #52
IMHO you're right. Another fact supporting that is, that the background color AFAIK has to be set on the QGIS project, not on a style or single layer.

[2017-05-08 07:14] sfkeller commented on #52
@tomchadwin The VT we are speaking here are clearly focused to serve as base maps. So usually there is no or at most one other base map below. I remember well the design decision (e.g. in OpenMapTiles) to either assume that the (base map) background default style represents either sea or continent. If background is white (or transparent) then there's something missing.

You can check this by overl

[2017-05-08 08:06] mnboos commented on #22
Done

[2017-05-08 08:06] #22 closed, assigned to nobody

[2017-05-08 08:07] mnboos commented on #43
Done

[2017-05-08 08:07] #43 closed, assigned to nobody

[2017-05-08 08:07] mnboos commented on #46
Done

[2017-05-08 08:07] #46 closed, assigned to nobody

[2017-05-08 08:08] mnboos commented on #49
Done

[2017-05-08 08:08] #49 closed, assigned to nobody

[2017-05-08 08:39] mnboos commented on #35
Done

[2017-05-08 08:39] #35 closed, assigned to nobody

[2017-05-08 08:40] mnboos commented on #52
@sfkeller How about setting the same color as on openstreetmap as a first step? Or would you like to have different options the user can choose from?

[2017-05-08 09:30] sfkeller commented on #52
Hmm.
In case of option "Apply predefined OpenMapTiles style" set it to same color / style as on OpenMapTiles (OpenStreetMap) as a first step (no other option).
Else too?

[2017-05-08 09:42] mnboos commented on #47
Done

[2017-05-08 09:42] #47 closed, assigned to nobody

[2017-05-08 09:46] mnboos commented on #52
Think setting it, if "Apply predefined ..." is enabled is okay. Additionally, I suggest to only set the background (i.e. the project background) only, if it's unchanged (i.e. "white").

[2017-05-08 10:15] mnboos commented on #52
Done.

![image](https://cloud.githubusercontent.com/assets/22575883/25800050/f7773be2-33e7-11e7-8c4a-152657600004.png)

[2017-05-08 10:15] #52 closed, assigned to sfkeller

[2017-05-08 13:14] mnboos commented on #45
Done.

Notice, that "Reload" ignores the a tile limit, if any was set. This could be improved with a proper caching mechanism (see #26)

[2017-05-08 13:15] mnboos commented on #36
Closing this. Feel free to reopen, if there's any necessity.

[2017-05-08 13:15] #36 closed, assigned to nobody

[2017-05-10 13:40] sfkeller commented on #45
After loading a file source (e.g. with Name "Koh Samui") the Reload Button is set to "Reload (Koh Samui)".
When this layer is removed, the Reload Button still shows "Reload (Koh Samui)" and actually reloads this even when there is no such layer anymore.

[2017-05-10 13:45] sfkeller opened #53 "Enhance Error handling"
a. In a Tile Server connection, when no Internet available or when there's a connection timeout: => Show Modal Error Dialog e.g. "Failed to access <<xxx>>. Check URL and internet connection."
b. When no tiles found... => Show Modal Error Dialog: "No tiles found".

[2017-05-10 13:46] sfkeller opened #54 "Enhance Add Layer(s) Dialog"
a. In Tile Server connection, add button "Add Default Servers2 (see also WMS/WMTS).
b. In File connection, when reopening the File Browse Dialog, keep last path location when reopening (defaul is).

[2017-05-10 14:15] rduivenvoorde opened #55 "Plugin does not take proxies into account"
Trying to use the plugin here at an office which is behind a proxy. We need to set the proxy in QGIS to be able to retrieve data.

But looking into:
https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/blob/master/file_helper.py#L67
I see urllib2 is used, and while it is possible to make urllib2 aware of proxies (and preferable of the proxy settings from QGIS own settings, I think/hope th

[2017-05-10 19:31] sfkeller commented on #55
@rduivenvoorde Regarding your question

After any MB VT tiles have been loaded into a layer with this plugin, the usual QGIS styling capabilities apply.

For the built-in "predefined OpenMapTiles style" we use simply the QGIS styling classes. Here "OpenMapTiles" refers to the OpenMapTiles schema (not to be confused with the styles written in Mapbox GL JS delivered at OpenMapTiles.org).

Regarding

[2017-05-10 19:34] sfkeller commented on #55
So, @mnboos : referring to the issue title, can you investigate if it's possible to use QgsNetworkManager instead of urllib2 while being able to catch timeouts (see e.g. #53 ).

[2017-05-11 19:08] mnboos commented on #54
a) Don't see any advantage there. There's already a hardcoded default connection that cannot be removed.
b) Done

[2017-05-11 19:11] mnboos commented on #45
I don't see that as a bug. The reload button just reloads the area of the current QGIS extent from the last source used. This could even be used as debugging tool: Load area, pan, delete current layers, reload.

[2017-05-11 19:15] mnboos commented on #44
Done

[2017-05-11 19:15] #44 closed, assigned to nobody

[2017-05-11 19:19] mnboos commented on #24
@sfkeller The blue info text comes from a QGIS algorithm that I cannot disable.

[2017-05-11 20:00] mnboos commented on #53
Done

[2017-05-11 20:00] #53 closed, assigned to nobody

[2017-05-12 09:15] mnboos commented on #26
I implemented some caching:

Loaded and decoded tiles will be cached (in a temp directory). This already improves the loading performance significant.
Additionally, I could also cache the GeoJSON features but I'm not sure if that's really necessary.

[2017-05-12 12:34] mnboos commented on #23
@sfkeller The two enhancements are now implemented.

[2017-05-12 12:39] #23 closed, assigned to sfkeller, mnboos

[2017-05-12 13:12] sfkeller commented on #45
@mnboos : I see. But then, would'nt we need an "Unload" button a and check when the same area is loaded a second time?
This issue opens an interesting discussion about how vector tiles are handled, being somehow a hybrid with raster: It's obvious that raster tiles can be reloaded - but there you don't expect to analyse the whole "layer" as you would expect in a vector layer.

[2017-05-13 08:25] mnboos opened #56 "Auto reload not working"
The auto reload feature is not working anymore.

@sfkeller Is this even required anymore? I think the "Reload" button replaces this functionality.

![image](https://cloud.githubusercontent.com/assets/22575883/26023879/81fa7e1e-37c6-11e7-9dec-0d5277765a37.png)

[2017-05-13 09:07] mnboos commented on #45
@sfkeller Is it a problem, if the same area is loaded multiple times? Now with the caching implemented it's really fast if the same area is loaded multiple times and the layer sources (i.e. the GeoJSON files) will not be changed or modified.

[2017-05-13 09:08] mnboos commented on #54
@sfkeller Closing this. Feel free the reopen again.

[2017-05-13 09:08] #54 closed, assigned to nobody

[2017-05-13 09:09] mnboos commented on #25
@sfkeller Have a look at the userguide (https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/wiki/User-Guide). Is there something missing or can I improve something?

[2017-05-13 09:11] mnboos opened #57 "Option for "load mask layer" is missing"
The mask layer actually never gets loaded and the user has not even the possibility, to enable this option. Therefore, it should be added to the options group on the loading dialog.

[2017-05-13 10:27] mnboos commented on #57
Done

[2017-05-13 10:27] #57 closed, assigned to nobody

[2017-05-13 22:46] sfkeller commented on #25
Looks good so far! A user guide for such a plugin doesn't need to be long.

[2017-05-14 08:50] sfkeller commented on #25
Just don't forget to mention the sample data file and predefined service(s).
And of course documentation (= update) is a continuous (periodic) task.

[2017-05-14 09:10] sfkeller commented on #45
Coming back to the fundamental discussion how vector tiles (VT) should be treated: I see two generic use cases, 1. as background 2. for inspection and analysis.

1. is raster alike, potentially worldwide, graphics is more important than analysis (no counting features etc.). The background (default) style (#52 ) and the mask layer (#57) are important and mask layer features need to be loaded. A VT

[2017-05-14 09:18] mnboos commented on #56
Closed. This feature has been removed because it's been replaced by the "Reload" button

[2017-05-14 09:18] #56 closed, assigned to nobody

[2017-05-14 09:31] tomchadwin commented on #45
For me, 1. is "add layer" and 2 is "import layer".

1 is the intended use-case for VT - the flexibility of vector styling and resolution-independence without a single massive download.

2 is really only of use to devs.

This is why I still think some thought should be given to recreating the auto load and unload, as per raster tiles. What's the point of it being tiled otherwise? I'm also therefore

[2017-05-14 09:43] sfkeller commented on #45
@tomchadwin Thanks for your important input. There's the fundamental discussion what VT's are (which you and me raised) and finally, what the purpose is of this plugin. Initially, I thought the plugin is for inspection only (i.e. for devs.) - now given the great implementation success thank's to @mnboos - we have a dilemma, and I hope the plugin can cover both "modes"

P.S. Keep in mind though, th

[2017-05-14 11:08] tomchadwin commented on #45
Re: your PS

Firstly, I guess with work the styles *could* be imported. The interest for me is style *export* from QGIS. These are all steps towards that.

Dare I say that even export geometry to VT might be a possibility?

[2017-05-15 15:17] mnboos commented on #55
Sorry for the long delay. Yes, will investigate that.

[2017-05-16 19:00] mnboos commented on #55
@rduivenvoorde the plugin should now work with proxies due to the usage of QgsNetworkAccessManager. Thanks for the hint. Would it be possible for you to test the functionality by cloning the repo? It didn't release/publish it yet.

[2017-05-16 19:03] mnboos commented on #55
@sfkeller Would it be possible for you to test if the timeout handling matches your expectations?

[2017-05-20 11:50] #55 closed, assigned to nobody

[2017-05-28 14:37] mnboos commented on #28
Tested with a EPSG:21781 source and worked after small changes.

[2017-05-28 14:37] #28 closed, assigned to sfkeller, mnboos

[2017-05-28 15:32] mnboos commented on #14
Done

[2017-05-28 15:32] #14 closed, assigned to mnboos

[2017-05-30 06:56] sfkeller opened #61 "The "About" dialog"
The "About" dialog should also mention following:
* This is a plugin maintained by Geometa Lab HSR
* OSM community
* Klokan Technologies GmbH, saying "Get own free key for OpenMapTiles from https://openmaptiles.com/hosting/" (as weblink).

[2017-06-01 23:57] sfkeller opened #62 "Indicate phase numbers while loading in dialog (GUI)"
Indicate phase numbers while loading in the loading information dialog (GUI), e.g. like this:

- (1/5) Getting tiles…
- (2/5) Decoding tiles..
- (3/5) Processing tiles…
- (4/5) Creating layers…
- (5/5) Styling layers…

[2017-06-02 00:58] mnboos commented on #61
See:

![image](https://cloud.githubusercontent.com/assets/22575883/26706646/5eaeebc4-473f-11e7-829d-61ab81f6df3d.png)

[2017-06-02 00:58] #61 closed, assigned to nobody

[2017-06-02 06:47] mnboos opened #63 "Geometry export to mbtiles"
Create the functionality to export the loaded data to an mbtiles file

[2017-06-02 06:48] mnboos commented on #45
See Geometry export to mbtiles #63

[2017-06-05 14:00] mnboos commented on #63
Done, see release v0.13.1

[2017-06-05 14:00] #63 closed, assigned to nobody

[2017-06-05 14:00] #45 closed, assigned to nobody

[2017-06-05 14:01] #26 closed, assigned to sfkeller

[2017-06-05 14:28] #24 closed, assigned to sfkeller

[2017-06-05 14:38] mnboos commented on #25
User guide updated:
- **Clear Cache** mentioned
- Export explained

[2017-06-14 02:06] cliffordsnow opened #67 "Error object of type 'long' has no len() (Data? MacOS? Python version?)"
FYI - Vector-Tiles-Reader-QGIS-Plugin runs find with QGIS 2.18.7 and python 2.7.10. It does not run with python 2.7.2.

[2017-06-14 02:09] keum commented on #67
This is log from python 2.7.2
2017-06-13T19:05:56	0	Vector Tile Reader Plugin loaded...
2017-06-13T19:06:38	0	Decoding 110 tiles
2017-06-13T19:06:39	0	Processing 110 tiles
2017-06-13T19:06:39	2	An exception occured: object of type 'long' has no len()
2017-06-13T19:06:39	2	  File "/Users/peter/.qgis2/python/plugins/vector_tiles_reader/vtr_plugin.py", line 266, in _load_tiles
			    limit_reacher_ha

[2017-06-14 04:45] mnboos commented on #67
@cliffordsnow Cool thanks for the info!

[2017-06-14 04:45] mnboos commented on #67
@keum That looks more than a problem with the source-data. What source exactly did you use (server or file, which server/file)?

[2017-06-14 06:03] sfkeller opened #68 "Introduce Unit Tests where reasonable (ongoing)"
:-)

[2017-06-14 06:16] sfkeller opened #69 "Show tile index(es) z/x/y in GUI"
That's for the inspection and debugging use case.
I don't have yet a specific proposal how the user could interact to show the info:
Show a graticule with labels indicating x/y in window by switching it on/off from a menu bar entry or icon?
Other proposals?

[2017-06-14 14:07] keum commented on #67
@mnboos thanks for your answer. i've created three vector mbtiles and running on tileserver-gl . here is the link http://vectortile.pkgeo.com:8080/
Trying to add one of them but they've all failed to load. Thanks for your help. Should i open different tix?

[2017-06-14 19:53] sfkeller commented on #67
@keum:
I can reproduce your error. It's probably related to the fact, that QGIS window is not centered around center and bounds of your MVT source.

So, I got at least "wabldg" (using this TileJSON http://vectortile.pkgeo.com:8080/data/wabldg.json) from your tileserver-gl working!

Until we found a solution, first install two plugins using "Manage and Install Plugins" in QGIS: "QuickMapServices" (

[2017-06-14 19:57] sfkeller commented on #67
@mnboos:
This exception seems to be related to the fact that a (new?) QGIS window is located completely outside the data bounds of a service.
Does the MVT reader take the "bounds" (or "center") values of the TileJSON into account (see http://vectortile.pkgeo.com:8080/data/wabldg.json from above)?

[2017-06-15 05:22] mnboos commented on #67
@sfkeller What exception is logged to your console? I could also reproduce "an" error, but it's not the one @keum logged above. However, I'll try to fix it later today.

@keum Thank you for providing those sources, that's very helpful!

[2017-06-15 07:23] sfkeller commented on #67
I think this is the relevant log part from Vector Tile Reader log tab I refered to above:
2017-06-14T21:38:53	0	Decoding 96 tiles
2017-06-14T21:38:54	0	Import complete
2017-06-14T21:38:55	2	An exception occured: min() arg is an empty sequence
2017-06-14T21:38:55	2	  File "C:/Users/sfkeller/.qgis2/python/plugins\vector_tiles_reader\vtr_plugin.py", line 264, in _load_tiles
			    limit_reacher_handl

[2017-06-15 11:28] mnboos commented on #67
That's not actually the problem, only a result of it. The problem is, that there are no tiles available from the source, that match the visible QGIS extent.

[2017-06-15 11:48] sfkeller opened #70 "Check GUI and Docs with Human Interface Guidelines of QGIS and others"
Check GUI and docs with Human Interface Guidelines of QGIS and others, e.g. with following resources:

* QGIS Human Interface Guidelines (HIG): https://www.qgis.org/en/site/getinvolved/development/qgisdevelopersguide/hig.html
* QGIS GUI Intro: http://docs.qgis.org/2.18/en/docs/user_manual/introduction/qgis_gui.html#map-view
* Other QGIS GUI Conventions: http://docs.qgis.org/2.18/en/docs/user_manua

[2017-06-15 12:02] sfkeller commented on #67
Agreed. Let me just collect some facts again (without suggesting a solution here yet):

Thanks to @keum we obviously have another service example which is not covering whole world (as e.g. OpenMapTiles), but only a region.

There's an "Add Layer(s)" dialog implemented which takes the current "Map View" (*) into account - and that is not obvious to new users.

Then, from metadata (TileJSON entries

[2017-06-15 13:21] mnboos commented on #67
I fixed some bugs and it should work now. I would be happy if you both @keum and @sfkeller could test as soon as the plugin is approved in the QGIS plugin repository.

[2017-06-15 14:47] keum commented on #67
thanks @mnboos I've updated my mac last night which updated python to 2.7.10 from 2.7.2. I couldn't even get sample data to load and I'll test them out today with sample data plus my own mbtiles. Thanks for all your help!

[2017-06-15 19:26] mnboos commented on #67
@keum Okay, let me know, if there are any problems. I'm closing this issue as I think the problems are solved but feel free to reopen!

[2017-06-15 19:26] #67 closed, assigned to nobody

[2017-06-15 19:28] mnboos commented on #10
Masklayer won't be loaded if not available. When trying to load a zoom-level that doesn't exist in the data, nothing "bad" will happen, just no tiles will be loaded.

[2017-06-15 19:28] #10 closed, assigned to mnboos

[2017-07-07 11:07] sfkeller commented on #25
I have updated GISWiki website: https://giswiki.hsr.ch/Vector_Tiles_Reader_QGIS_Plugin

[2017-07-10 06:34] sfkeller opened #71 "Generated layers of geometry type Point should be Point - not MultiPoint"
All generated layers which originally are of geometry type Point should really be Point - not <<Point (WKB type: "MultiPoint")>>.
Currently all layers are MultiPoint, place, housenumber, water_name, transportation_name, poi, etc.
This is not correct at least for some of them.
Some algorithms and functionalities are not available for MultiPoint.
Check if this is an issue in the MVT data ecoding.

[2017-07-10 13:57] nextstopsun opened #72 "Add custom http request headers for tilejson"
Can you please add an ability to set custom http headers for tilejson url? Some servers need specific headers to return correctly formatted tilejson.

[2017-07-10 14:16] sfkeller commented on #72
We have a code freeze now, so no promises.
Can you provide some more details (which headers?) and - most important - some servers to test?

[2017-07-14 01:06] nextstopsun commented on #72
I'm serving tilejson via PostgREST and I need to add headers for it to work:
`Accept: application/vnd.pgrst.object+json`
`Authorization: Bearer`
Here are some docs on this topic: https://postgrest.com/en/v4.1/api.html#singular-or-plural

I'm planning to serve tiles with postgrest too, so custom headers would be needed there also.
I guess there are other cases when custom headers should be added to

[2017-07-19 17:32] #25 closed, assigned to sfkeller, mnboos

[2017-07-19 17:33] sfkeller opened #73 "Option for base map mode where tiles are loaded according to zoom level and flushed"

[2017-07-20 14:03] xtompok opened #74 "Exception while loading vector tiles"
When I try to load vector tiles according to http://giswiki.hsr.ch/Vector_Tiles_Reader_QGIS_Plugin, tiles downolads, reads and then the exception occurs. I tried two places in Czech Republic with same result (one was Prague and one was some forest). I am using Ubuntu 17.04, plugin version: 1.0.1
QGIS:

Verze QGISu | 2.18.10 | Revize kódu QGISu | 59e0f78
-- | -- | -- | --
Kompilováno proti Qt | 4.8

[2017-07-20 14:07] sfkeller commented on #74
Thanks. But in order to replicate that issue it's essential that you clearly tell us which vector tiles you used, i.e. which Server connection or which local file.

[2017-07-20 14:12] xtompok commented on #74
I used OpenMapTiles.com default.

[2017-07-20 17:13] sfkeller commented on #74
Which plugin version did you install: 1.0.1?
And can you tell us the region?

I currently can't replicate the error, sorry.
I tried "Strítežská rokle" (near Strítež) since the log tells me that the error occured at tile (zoom=14, col=8924, row=5567) which is here
http://osm.org/go/0J5_FxjF--?m=
http://www.maptiler.org/google-maps-coordinates-tile-bounds-projection/

[2017-07-20 17:28] xtompok commented on #74
I tried 1.0.1 from QGIS and also master from GitHub. First region was in Prague, I tried now again the center of Prague with the same result:
2017-07-20T19:26:05	0	Processing 1 tiles
2017-07-20T19:26:05	2	An exception occured: object of type 'long' has no len()
2017-07-20T19:26:05	2	  File "/home/jethro/.qgis2/python/plugins/Vector-Tile-Reader/vtr_plugin.py", line 274, in _load_tiles
			    limit_

[2017-07-20 22:24] sfkeller commented on #74
I assume you used the "Add Layer..." options which are set when you either don't change any or click on "Reset to Base Map Defaults"?

[2017-07-20 22:47] xtompok commented on #74
Yes, Vector Tiles Render -> Add Vector Tiles Layer ...
I tried default options and then tried to change some options but exception happens every time.

[2017-07-28 15:57] sfkeller commented on #71
It's theoretically perhaps possible to detect point/multipoint on client side.
But it seems to be more sensible when the data - and before also the MVT spec. - indicates it.
See https://github.com/mapbox/vector-tile-spec/issues/77

[2017-07-28 15:58] sfkeller opened #75 "Implement maskLevel"
Seems to be part of TileJSON spec. (https://github.com/mapbox/tilejson-spec) and of mbtiles spec. (https://github.com/mapbox/mbtiles-spec)

Actually I can't find it there but I'm sure it's implemented...
Missing in the specs.?
* https://github.com/mapbox/tilejson-spec/issues/27
* https://github.com/mapbox/mbtiles-spec/issues/51

See more about maskLevel:
* https://github.com/mapbox/tilelive-vector

[2017-09-12 22:21] nvkelso opened #78 "Add Tilezen vector tile support"
Really nice to see this QGIS plugin develop, great work! 💯

I'm trying to add support for Mapzen vector tiles but hitting a confusing error state.

My TileJSON is here:

- http://tile.mapzen.com/mapzen/vector/v1/tilejson/mapbox.json?api_key=mapzen-zD4v4XB

That correctly loads in the interface:

![screen shot 2017-09-12 at 15 17 15](https://user-images.githubusercontent.com/853051/30350961-f59479a

[2017-09-12 22:23] nvkelso opened #79 "Trap for single zoom (rather than default zoom range) requests"
When I add a single zoom (e.g. 11) instead of a range of zooms (like 11-14) I get the following error:

[code]

Everything loads correctly, it's just the Python console that logs the error.

[2017-09-12 22:40] sfkeller commented on #78
Hi Nathaniel, Thanks for testing and contributing. I'm very enthusiastic about this plugin (too).

Unfortunately this plugin was meant as a prototype and is/was a semester student project which actually came to an end these days. (We're struggling currently to get thet last great issue (#73) done, which would finally give a proof of concept that Vector Tiles are working as base map even inside a G

[2017-09-12 22:42] sfkeller opened #80 "Support of different default styles per "connection" tile schema"

[2017-09-12 22:43] sfkeller commented on #78
I'd like to put that in a separate issue (see #80).

[2017-09-12 22:48] nvkelso commented on #80
Background is different vector tiles have different tile data schemas so one single QML per layer (or even what layers are supported) isn't possible.

Suggest namespacing OMT into it's own dir (moving existing content in styles/ into styles/omt/) and adding a new styles/mapzen/ dir.

[2017-09-12 22:49] nvkelso commented on #73
Is this meant to have the same automatic move-map-plugin-updates functionality as the OSM raster map tiles plugin?

[2017-09-12 22:50] nvkelso commented on #78
Cool, I've added some details to #80.

So far the proof of concept is very good and usable as a v1.0 launch I think. I'd like to promote it at the upcoming NACIS conference (and would prefer to also add Mapzen support by then).

[2017-09-12 22:56] sfkeller commented on #73
When map is moved/panned the plugin updates already the tiles and adjusts the GeoJSON cache.
I'd rather would describe this enhancement: "flush old and load new tiles when zooming out or in", like the JS library does.

[2017-09-22 10:02] mnboos commented on #78
Mapzen now also works with the plugin. There were two issues where I created the url when loading a tile.

Notice: if a parameter "api_key" is available in the url of the source and a value "{api_key}" is available in the url of any tile, it will be replaced by the api key of the source.

[2017-09-22 10:12] mnboos commented on #79
Fixed in v1.0.2 (yet to be published)

[2017-09-22 10:12] #79 closed, assigned to nobody

[2017-09-22 10:12] mnboos commented on #78
Version 1.0.2 of the plugin will be published soon.

[2017-09-22 10:17] mnboos commented on #74
I cannot reproduce the problem either. I loaded the center of prague and it worked like a charm. Feel free to try version 1.0.2 which will be published soon. If the problem still remains, please reopen this issue.

[2017-09-22 10:17] #74 closed, assigned to nobody

[2017-09-22 10:18] mnboos commented on #69
The location of the mouse cursor is now shown as coordinates in xyz scheme in the QGIS statusbar.

[2017-09-22 10:18] #69 closed, assigned to nobody

[2017-09-22 15:00] nvkelso commented on #78
Awesome! What about default styling, too? Is that something I can help with? (Since the tile Schema is different.)

[2017-09-22 22:22] nvkelso commented on #78
Confirmed the new version is updated to QGIS plugin listing and I can select the new Mapzen option in the dialog and load tile content into QGIS (tested in San Francisco Bay Area)!

<img width="625" alt="screen shot 2017-09-22 at 15 22 06" src="https://user-images.githubusercontent.com/853051/30766427-d5c0d624-9fa9-11e7-92d9-510f3aee042f.png">

<img width="225" alt="screen shot 2017-09-22 at 15 22

[2017-09-23 07:56] mnboos commented on #80
If you provide the mapzen QML files, I can integrate them and adapt the UI.

[2017-09-23 13:31] nvkelso commented on #80
K, I'll look at that next week :)

[2017-09-26 23:56] pnorman opened #81 "ValueError: math domain error"
When I try to add a layer I get the error

[code]

Previous screen was

![image](https://user-images.githubusercontent.com/1190866/30889499-9aa4bada-a2db-11e7-947e-00ce23d8c237.png)

vector_demo.json is

[code]

[2017-09-27 00:11] sfkeller commented on #81
Yeah, that's a bug. Could be provoked though by
1. `"bounds": [-180, -90, 180, 90]` instead non-overlapping numbers like `"bounds": [-180, -85, 180, 85]`?
2. Missing line  `"pixel_scale": "256",` ?

[2017-09-27 00:42] pnorman commented on #81
If I change the bounds to `[ -180, -85.05112877980659, 180, 85.0511287798066 ]` I no longer get **this** domain error.

`[-180, -90, 180, 90]` is explicitly an acceptable value in the tilejson spec, and is the default value, so should be equivalent to specifying no bounds.

There's no reason to expect this line, it's not part of the spec so not required.

-----

I mentioned I no longer get **this*

[2017-09-27 05:26] sfkeller commented on #81
pnorman :Thanks for testing with Tegola. You wrote elsewhere:

Yes, please. That could eventually also be an mbtiles file (though not quite the same as an online "Connection"). Beware that the plugin assumes to get metadata, especially about the bounds.

[2017-09-27 08:41] pnorman commented on #81
I've only included z0-z3, and a tilejson file is included in the archive.
[tegola_tiles.zip](https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/files/1336331/tegola_tiles.zip)

I've opened #terranodo/tegola#150 since I'm reasonably confident the water flood is an issue with tegola, but the domain error remains a problem.

[2017-09-29 22:45] sfkeller opened #82 "Reload vector tiles after pan (in base map mode)"
Currently there's a menu item "Load features overlapping the view extent", which is Ok for insection and analysis mode.
But since the "base map mode" really should behave similar to raster tiles (WMS/WMTS), the vector tiles should reload when doing a map pan.

[2017-09-29 22:51] sfkeller opened #83 "No layers loaded and no features shown when new MVT source added"
When QGIS start and/or empty new map project is at world zoom level, then no layers are loaded and no features are shown after having added a new MVT source.

[2017-09-29 22:55] sfkeller opened #84 "MVT reader does not release all resources?"
Following work flow:
* Load MVT reader
* Create new project ("New" in toolbar)
* Change zoom
* => MVT reader still pops up an loads tiles.
* Clicking on "New" project once again, MVT reader possibly releases all ressources as expected.

[2017-09-29 22:57] sfkeller opened #85 "How to accelerate loading time of vector tiles?"
* Caching?
* Integrating "Minimal MVT decoder" (C++) as shared library (.dll / .so)?

[2017-09-29 23:01] sfkeller opened #86 "Remove GUI option "Cartographic layer ordering" and move code"
Remove GUI option "Cartographic layer ordering" and move code internally to predefined OpenMapTiles style.

[2017-09-29 23:12] sfkeller opened #87 "Implement MB GL style sheets by mapping them to QGIS styles"
Implement style sheets that conform to the Mapbox Style Specification by mapping them to QGIS styles.
Rather big issue!
Could re-use parts of https://github.com/mapbox/mapbox-gl-native ?

[2017-09-29 23:14] sfkeller opened #88 "Plan/implement porting plugin to QGIS 3.0 / Qt5 / Python 3.x"
Plan/implement porting plugin to QGIS 3.0 / Qt5 / Python 3.x.

[2017-09-30 08:57] mnboos commented on #86
done

[2017-09-30 08:57] #86 closed, assigned to mnboos

[2017-09-30 09:41] mnboos commented on #81
Fixed. Will be included in the next release.

[2017-09-30 09:41] #81 closed, assigned to nobody

[2017-09-30 09:42] mnboos commented on #82
Done

[2017-09-30 09:42] #82 closed, assigned to mnboos

[2017-09-30 09:42] mnboos commented on #73
@nvkelso move-map-plugin-updates functionality is now implemented and will be included in the next release.

[2017-09-30 09:42] #73 closed, assigned to mnboos

[2017-09-30 18:23] nvkelso commented on #73
Awesome!

[2017-10-08 14:22] sfkeller opened #89 "Enhance map style of "Vector Tiles Reader" plugin"
Update the built-in base map QGIS style for OpenMapTiles. The QML files reside in a separate subdirectory. See https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/tree/master/styles .

[2017-10-08 15:16] mnboos commented on #85
I'm currently integrating the C++ mvt decoder. Decoding will be pretty fast afterwards, compared to python decoding (620 tiles took only 22 seconds to decode on Windows, with the python version that takes roughly about a minute).

[2017-10-09 11:55] mnboos opened #90 "Add predefined Mapzen connection"
If @nvkelso would provide us with a Mapzen api key, we could add another predefined connection to the Mapzen server.

[2017-10-19 17:35] mnboos opened #93 "Clear cache upon version change"
For compatibility and stability reasons, the cache has to be cleared if the version of the plugin changes

[2017-10-20 08:17] mnboos opened #94 "Fix clipping"
Clipping is currently disabled due to the change from python to native decoding. It has to be reactivated; for the native decoding, the clipping should be done in the c++ code for performance reasons.

[2017-10-20 08:20] mnboos commented on #83
Fixed

[2017-10-20 08:20] #83 closed, assigned to mnboos

[2017-10-20 21:11] jachym opened #95 "svg point symbols not displayed"
Hi,

seems, that SVG symbols for POIs are not included?

![image](https://user-images.githubusercontent.com/1460823/31841918-f676c808-b5eb-11e7-9c6d-eda63ba026ac.png)

[2017-10-20 21:11] jachym commented on #95
Same applies for peaks

[2017-10-21 06:40] mnboos commented on #95
The symbols are included, but currently not working. They will be working again in the next release.

[2017-10-21 10:19] jachym commented on #95
Well, I'm using the master branch of the project - are you saying, it should work there?

[2017-10-21 10:46] mnboos commented on #95
No, the master branch doesn't include the fix yet. You can try the cpp-pbf2geojson branch if you want. It includes the fix and the new mvt decoder, which is a lot faster. Currently, only the windows binaries are built and up to date.

[2017-10-23 06:43] mnboos commented on #93
Done

[2017-10-23 06:43] #93 closed, assigned to nobody

[2017-10-23 06:43] mnboos commented on #94
Done

[2017-10-23 06:43] #94 closed, assigned to nobody

[2017-10-23 06:43] mnboos commented on #90
Done thanks to @nvkelso ! Awesome!

[2017-10-23 06:43] #90 closed, assigned to nobody

[2017-10-23 06:44] mnboos commented on #84
Fixed

[2017-10-23 06:45] mnboos commented on #85
The loading performance has been greatly improved by the usage of a C++ decoder. If no prebuilt library matches the current system, the decoding will be done in python for compatibility reasons.

[2017-10-23 06:45] #85 closed, assigned to mnboos

[2017-10-23 06:46] mnboos commented on #71
It should be fixed. Points are detected correctly as Point/MultiPoint and LineStrings as well as Polygons will now always be MultiLineString/MultiPolygon.

[2017-10-23 06:46] #71 closed, assigned to nobody

[2017-10-23 10:22] tomchadwin opened #97 "Vector layer does not "change" QGIS project"
To explain: in a new QGIS project, I add a VT layer via the plugin. If I close the project, I am not prompted to save it. Does anyone confirm?

[2017-10-23 11:18] mnboos commented on #97
I cannot reproduce that. How do you add the layer? I assume you have the latest version 1.2.0?

[2017-10-23 11:56] sfkeller commented on #97
_(Drag & Drop of an mbtiles into the map window - as it's working e.g. with GeoPackage would be cool ;-))_

[2017-10-23 14:01] jachym commented on #95
well, the branch does not accept locally stored files - it keeps downloading from mapzen

not sure about the geojson - I believe, GeoPackage, since it can store tiles, would be more suitable format (but do not know the details).

Right now: I want to  use local file and this branch (I see, it's in master already) seems to be broken.

[2017-10-23 14:04] tomchadwin commented on #97
@mnboos No, I can't recreate now, so will close. When it heppened, I loaded Mapzen, but nothing appeared on the canvas, so perhaps it was a different issue.

[2017-10-23 14:04] #97 closed, assigned to nobody

[2017-10-23 14:17] mnboos commented on #95
What keeps downloading from Mapzen? Are you saying there is an infinite loop when you try to load data?

With "local file" you mean an mbtiles file? If so, please try one of the files located in the "sample_data" folder, they should be working.

[2017-10-23 14:37] jachym commented on #95
@mnboos it seems, the plugin loads *all* data source inputs, if set, therefore, if I set input file (mbtiles downloaded from openmaptiles.org manually), it loads first mapzen resource and then it adds the local file too

![image](https://user-images.githubusercontent.com/1460823/31895049-78885c46-b810-11e7-8f18-3660ef16bb09.png)

[2017-10-23 14:41] jachym commented on #95
about the sample data, I would prefer, not to point to default `user/.qgis2/python/plugins/...` directory *always*, I can understand, it makes sense from testing point of view, it's annoying, when dealing with local data

[code]

I can prepare pull request - just want to make sure, it makes sense for you too

[2017-10-23 14:42] jachym commented on #95
@mnboos it does the same, when selecting the local default sample files
![image](https://user-images.githubusercontent.com/1460823/31895300-249a4bfc-b811-11e7-847e-17df7170a948.png)

[2017-10-23 14:47] mnboos commented on #95
Can you please copy the output from the log panel?

[2017-10-23 15:12] jachym commented on #95
@mnboos this should fix it https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/pull/98

[2017-10-23 16:34] nvkelso commented on #90
Glad to help :)

[2017-10-23 18:46] mnboos commented on #95
I don't understand exactly what you want to change. As soon as a mbtiles file is selected in the connections dialog, the folder is remember and the dialog will open this exact same folder the next time. Is that not working for you?

[2017-10-23 18:51] sfkeller commented on #90
Thanks, Nathaniel, for making Mapzen vector tiles available for this reader!

What remains to do is the map styling and we computer scientists are not so trained in that. The approach we follow is twofold:

1. The short term and inevitable option is to let QGIS do the styling. This is what we did with OpenMapTiles schema (see the QGIS QML style files in %userprofile%/.qgis2/python/plugins/vector_t

[2017-10-23 18:56] mnboos opened #100 "Fix Mbtiles connection"
Getting data from db failed: (<class 'sqlite3.ProgrammingError'>, ProgrammingError('SQLite objects created in a thread can only be used in that same thread.The object was created in thread id 16500 and this is thread id 11104',), <traceback object at 0x00000000750E9188>)

[2017-10-23 18:58] nvkelso opened #101 "Add default map styling for Mapzen tile schema"
Match the existing plugin QGIS map design style to the Mapzen tile schema as different features are in different layers with different property names.

Longer term it'd be nice to support a basemap style like Refill or Bubble Wrap, but it would only be an approximation and that's actually a lot of work that's not necessarily core to this plugin.

Links up with:

- https://github.com/geometalab/Vec

[2017-10-23 18:59] nvkelso commented on #90
=> Here a specialist like you (:-) could add QML files to style Mapzen vector tiles schema in QGIS.

I can take a look at that. I've filed https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/issues/101, do you want to assign it to me?

=> Which styling language do you prefer at Mapzen?

We write our map styles at Mapzen using Tangram's YAML syntax which is similar but very different to t

[2017-10-23 19:01] mnboos commented on #95
I created a new issue, regarding the partially broken Mbtiles connection.

[2017-10-23 19:01] #95 closed, assigned to nobody

[2017-10-23 19:02] mnboos commented on #90
Yes, we want and I did! Thanks a lot!

[2017-10-29 21:30] sfkeller opened #104 "Update metadata.txt"
Update file 'metadata.txt'. It appears e.g. in the plugin repository [1] and in QGIS in the plugin manager dialog.

[1] http://plugins.qgis.org/plugins/vector_tiles_reader/

[2017-10-30 07:32] mnboos commented on #104
The updated metadata is included in release 1.2.3

[2017-10-30 07:32] #104 closed, assigned to sfkeller, mnboos

[2017-10-30 07:33] mnboos commented on #100
Done

[2017-10-30 07:33] #100 closed, assigned to nobody

[2017-10-30 09:25] mnboos opened #105 "Check PostGIS version"
The postgis version has to be >= 2.4 in order to have the required mvt functionality.

[2017-10-30 14:13] mnboos opened #106 "create function bboxtile"
assure the function exists before executing queries

[2017-10-30 14:20] mnboos opened #107 "Add OSM QA as predefined connection"
to be clarified

[2017-10-30 14:24] mnboos opened #108 "Rename "t-rex" cache functionality"
Rename as it's not specifically a t-rex cache but rather a zxy folder structure with pbf files and a TileJSON file.

[2017-10-30 14:35] mnboos opened #109 "Support PostGIS"
PostGIS shall be supported as mvt source.

[2017-10-30 14:54] mnboos opened #110 "Documentation (ongoing task)"
Documentation for how to generate mbtiles

[2017-10-30 20:13] TimJMartin opened #111 "Enable base map mode"
Hi

We currently create vector mbtiles using Mapbox Studio Classic or tippcanoe and I have tried to use them with the plugin but it does not seem to work as expected.

In one of my MBTiles I have a 30 layers ranging from Z6 to Z15 and when I add it the data for the current extent is shown. However when I pan and move I am getting a number of stack errors and reading the docs I have to go to Vector

[2017-10-30 20:16] mnboos commented on #111
Hi

This feature is enabled, if you choose "Zoom > Auto (scale based)". The tiles are then automatically reloaded according to the zoom level that is derived from the current map scale.

[2017-10-30 20:25] TimJMartin commented on #111
Doesn't seem to be working for my MBTiles then.

I have ticked the Auto (scale based) when I connected to the source file.

The data loads initially and then when I pan or zoom out or zoom in this is the result:

<img width="1680" alt="screen shot 2017-10-30 at 20 18 48" src="https://user-images.githubusercontent.com/8383616/32193596-b3e1eeac-bdaf-11e7-9803-b9cb4fa025ca.png">

You can see the data

[2017-10-30 20:28] mnboos commented on #111
Could you show me the metadata of your mbtiles? Or even better, could you give me your mbtiles file?

[2017-10-30 20:33] TimJMartin commented on #111
This isn't the full one as thats over 2Gb, but the same thing seems to happen to this one that just contains contour lines.

https://www.dropbox.com/s/lzb1ovk8hrel6vp/test.mbtiles?dl=0

I am thinking my MBTiles does not contain enough metadata, as mentioned above this was created using Mapbox Studio Classic.

[2017-10-30 20:34] mnboos commented on #111
![image](https://user-images.githubusercontent.com/22575883/32194244-1fe540ae-bdba-11e7-84e3-53b89fdc6c1e.png)

Bounds seemts to be missing in the metadata. That's interesting, because I thought to handle that case properly. Obviously not. I will fix that.

@sfkeller That's somehow funny, as we just today discussed, that this should be allowed, especially for mbtiles files, where the bounds theore

[2017-10-30 20:41] TimJMartin commented on #111
hmmmmmmm

Just looking at Classic there doesn't seem to be a way for me to make sure the metadata is added to the MBTiles.

Do you have a list of the mandatory metadata fields?

[2017-10-30 20:47] mnboos commented on #111
I would say the following:

- crs (if it's missing, my plugins assumes 3857, so that could still work)
- min zoom
- max zoom
- bounds

You could take any sqlite browser and open the mbtiles file (it's just a sqlite database with a changed file extension. There you could have a look at the metadata table).
I just did this, bounds are missing:

![image](https://user-images.githubusercontent.com/2257

[2017-10-30 20:49] mnboos commented on #111
I don't know the mbtile generators very well, but I think there must somehow be an option where you can specify the bounds, or generally metadata, if it's not set automatically.

[2017-10-30 21:27] TimJMartin commented on #111
I got it working, many thanks for your help

Bounds is in WGS84 coordinates and as you say can easily be added using something like DB Browser for SQLite.

[2017-10-30 21:27] #111 closed, assigned to nobody

[2017-10-30 21:28] mnboos commented on #111
Glad I could help. :-) Have fun!

[2017-11-08 06:48] sunshine0576 opened #112 "Support GeoServer Vector tile"
I want add Geoserver Vector tile layer to QGIS, How should I add a connection?

[2017-11-08 07:06] sunshine0576 opened #113 "Coordinate transform error"
2017-11-08T14:56:58	1	Traceback (most recent call last):
			  File "C:/Users/PC8651/.qgis2/python/plugins\vector_tiles_reader\vtr_plugin.py", line 886, in _on_timeout
			    should_notify = self._predicate()
			  File "C:/Users/PC8651/.qgis2/python/plugins\vector_tiles_reader\vtr_plugin.py", line 200, in _have_extent_or_scale_changed
			    has_extent_changed = self._has_extent_changed()[0]
			  F

[2017-11-08 07:14] sfkeller commented on #113
Can you privide us with the source in order to test it?
A remote connection requires a TileJSON 2 spec
https://github.com/mapbox/tilejson-spec/tree/master/2.2.0 .
Remind that coordinate transformation is not yet implemented.

[2017-11-08 07:18] sfkeller commented on #112
We did not yet test the plugin with a GeoServer connection. Can you provide us with remotely accessible source. A Vector Tile connection requires either a mbtiles file or a TileJSON file typically in the form https://yourdomain.xyz/data/v3.json according to TileJSON 2 spec: is here https://github.com/mapbox/tilejson-spec/tree/master/2.2.0 (which actually still has to be extended in order to reflec

[2017-11-08 07:28] sunshine0576 commented on #113
I  use default connection (openMapTiles.com).
when i move and zoom map.The plug-in crashed。
Remarks：my map srs is 4326.

[2017-11-08 07:45] sunshine0576 commented on #112
The format of the request for Geoserver.
http://localhost:8080/geoserver/gwc/service/wmts?REQUEST=GetTile&SERVICE=WMTS&VERSION=1.0.0&LAYER=sf:roads&STYLE=&TILEMATRIX=EPSG:900913:{z}&TILEMATRIXSET=EPSG:900913&FORMAT=application/x-protobuf;type=mapbox-vector&TILECOL={x}&TILEROW={y}

[2017-11-08 10:47] tomchadwin opened #114 "'VtReader' object has no attribute 'title_changed'"
I got this by doing the following:

1. I'd not used the plugin for some time
2. I upgraded it within QGIS plugin manager
3. Started the plugin
4. Left Mapzen.com selected in the Connections drop-down
5. Clicked 'Connect'

QGIS 2.18.14
VTR 1.2.3

[2017-11-08 10:50] tomchadwin commented on #114
Same occurs when trying to load `/sample_data/koh-samui_thailand.mbtiles`.

[2017-11-08 10:53] tomchadwin commented on #114
QGIS restart fixed it. Apologies.

[2017-11-08 10:53] #114 closed, assigned to nobody

[2017-11-08 11:00] tomchadwin opened #115 "Default tile servers only result in water layer"
I connect to Mapzen.com, select all layers, click "Base Map Defaults", and Add. I get all the layer groups, but only water has a layer within - all the others are empty.

[2017-11-08 11:02] tomchadwin commented on #115
Ditto OpenMapTiles.com - only water.

[2017-11-08 11:18] tomchadwin opened #116 "Are the layer groups required?"
Basing this question only on the `sample_data`, the ToC structure seems to be every layer within a layer group. Is it always one layer per group? If so, why bother with the groups at all?

[2017-11-08 17:35] mnboos commented on #116
There can be up to three layers per group. One per geo type (point, linestring, polygon).

[2017-11-08 17:36] mnboos commented on #115
I assume that happens after a fresh QGIS start, where the location is not set yet?

[2017-11-08 17:36] tomchadwin commented on #116
OK, thanks for clarifying.

[2017-11-08 17:36] #116 closed, assigned to nobody

[2017-11-08 17:37] mnboos commented on #113
Can you set the map srs in QGIS to 3857 and try again please?

[2017-11-08 17:38] tomchadwin commented on #115
Apologies, but I think this might be my misunderstanding how it works. Do individual QGIS layers appear and disappear in the layer groups according to what is visible on the canvas and at the zoom level?

[2017-11-08 17:40] mnboos commented on #112
It could work if a TileJSON file is created and the tile url set to the link above. Additionally the required TileJSON values would have to be present (i.e. "vector_layers", "minzoom" and "maxzoom").

[2017-11-08 17:43] tomchadwin commented on #18
OK, I've got a very rough implementation up and running for Leaflet exports. It examines the layers, and if that customProperty is present, it exports it as a `L.VectorGrid` layer. However, I am not sure this approach is going to work:

- it creates separate Leaflet layers for each layer, but I think the tile data contains info for all layers
- it styles the layer, but all other data within the ti

[2017-11-08 18:41] mnboos commented on #115
Yes. At least the are added as soon as data for an according layer is added the first time. After that, only the source of the layer will be updated. If a layer has a source without features, a specific icon is shown: ![image](https://user-images.githubusercontent.com/22575883/32567829-c7a0e920-c4bc-11e7-8884-7711eca3b47d.png)

[2017-11-08 19:01] tomchadwin commented on #115
OK, I'll assume I misunderstood, and close this. Apologies.

[2017-11-08 19:01] #115 closed, assigned to nobody

[2017-11-08 19:33] mnboos commented on #115
Nothing to apologize Tom! It's awesome you're always testing and trying out things.  👍

[2017-11-09 07:41] sunshine0576 commented on #113
I unable to reproduce when  use QGIS  3857

[2017-11-09 07:44] sunshine0576 commented on #112
Expect to be able to support Geoserver new features.

[2017-11-09 11:03] tomchadwin commented on #18
No, scratch that, I think I'll use the per-layer customProperty you have set up, and build up a single style var for all layers which have the same value for that customProperty. I'll report back...

[2017-11-09 13:02] kannes opened #117 "Error loading Klokantech's sample"
When I load the https://github.com/klokantech/vector-tiles-sample/releases/download/v1.0/countries.mbtiles from https://github.com/klokantech/vector-tiles-sample all I see is some part of Africa (sometimes other regions) and the following Python error:

[code]

QGIS 2.18.3
VTR Plugin 1.2.3

[2017-11-10 07:35] mnboos commented on #117
That's because "bounds" in metadata is missing. Good news is, I fixed that already and it will be included in the next release.

[2017-11-10 07:35] #117 closed, assigned to nobody

[2017-11-10 07:41] mnboos commented on #113
With the next release, this should also be fixed. Or at least it shouldn't crash.

[2017-11-10 07:41] #113 closed, assigned to nobody

[2017-11-10 07:42] kannes commented on #117
Excellent!

[2017-11-12 06:28] mnboos opened #119 "Reload loop with tile-limit"
If a tile-limit is set and a reload is triggered due to an extent-size change, the reload must not be allowed, if the new extent-size is greater than the current tile-limit.

[2017-11-12 17:56] mnboos commented on #119
Update: It's a bit more complex. It can happen, that even though the extent has changed, the resulting tileset will be exact the same as before (with the old extent).
The only way to know for sure is to compare the resulting center tiles.

[2017-11-12 19:00] mnboos commented on #119
Done

[2017-11-12 19:00] #119 closed, assigned to mnboos

[2017-11-12 19:12] sfkeller commented on #89
When issue #87 is implemented, this built-in base map QGIS style probable gets another purpose: It's either obsolete if the "imported" MB GL JS styles of OpenMapTiles are good enought (which I doubt) or this hand-made style is becoming an example how to show what QGIS styling can do better. So this style rather get's a documentory function.

[2017-11-13 10:41] tomchadwin opened #121 "Tiles don't behave when loading project?"
I can't quite describe this accurately, so I'd appreciate if someone could try to recreate:

1. New project
2. Add server layers via plugin
3. Save project
4. Close project
5. Reopen project

What those steps give me (I think) is a reduced extent at a given scale, which doesn't load tiles on zoom/pan.

[2017-11-13 10:43] tomchadwin opened #122 "Can't remove tiles"
1. Add server tiles via plugin
2. Remove root tile group from layers list
3. Zoom

The tile group and its children reappear.

[2017-11-13 10:45] mnboos commented on #121
That's expected behavior. If you close the project, the vector tiles reader will disconnect from the source. It won't automatically reconnect when a project is opened.

[2017-11-13 10:47] mnboos commented on #122
That's correct. The settings made in the connections dialog are the 'master'. That means, if you filter the layers to load there, by selecting one or more rows in the table, the plugin will always reload all layers. Otherwise, it will only reload the selected layers.

But maybe it would make sense, not to load a layer, if it's group has been removed. @sfkeller

[2017-11-13 10:50] tomchadwin commented on #121
I don't think it's the behaviour a user expects - I certainly don't. A project should be the same when you open it as when you saved it. The behaviour should be the same as a project with a saved tiled raster layer.

[2017-11-13 10:57] mnboos commented on #121
With 'expected behavior' I meant it's not a bug but the current implementation. I think I will have to change the implementation. @sfkeller

[2017-11-13 11:01] tomchadwin commented on #121
Ah, sure. Don't change behaviour just on the strength of my opinion, but if you or others agree, sure.

[2017-11-13 11:09] tomchadwin opened #123 "API stability/semantic versioning"
I was calling TileJSON as follows:

[code]

This worked until I upgraded VTR this morning. I see that it is now `vector_tiles_reader.util.tile_json` in the new version. I know you are not advertising a public API, but it would be useful if it could be stable, or if you used semantic versioning.

[2017-11-13 11:20] mnboos commented on #123
Ah sorry, you're totally right. My mistake!

[2017-11-13 11:21] mnboos commented on #112
@sfkeller Should we implement GeoServer support?

[2017-11-13 13:14] sfkeller commented on #89
Style generator is goog enough, so no handmade style is needed for a given MB GL JS style.

[2017-11-13 13:14] #89 closed, assigned to nobody

[2017-11-13 13:18] mnboos commented on #106
See #109

[2017-11-13 13:18] mnboos commented on #105
See #109

[2017-11-13 13:47] tomchadwin opened #125 "Project background colour"
I think the plugin sets your project background colour. I don't think it should, at least not without an optional GUI setting.

[2017-11-13 13:49] mnboos commented on #125
It does only, when the default OpenMapTiles styling checkbox is checked.

[2017-11-13 13:51] tomchadwin commented on #125
I still think it's not a setting which should be changed without explicitly notifying the user.

[2017-11-13 23:39] tomchadwin opened #126 "Scale-dependent layer visibility"
Am I right in thinking that the plugin adds and removes layers completely from the layers list as they become visible or hidden at different zoom levels? If so, would it not be better to give them QGIS scale-dependent visibility instead:

- easier to style layers as they don't need to be visible at the canvas's current zoom level to be present in the layers list and hence accessible to style

- of

[2017-11-13 23:54] sfkeller commented on #126
Yes, you're right. Every zoom level really has a potentially different schema with potentially different (simplified) geometries. E.g. some vector tile providers replace the landuse/landcover from OSM on detailed zoom level to the more generalized Natural Earth data on zoom levels up to 1.

[2017-11-14 10:43] tomchadwin commented on #126
Ah, so it doesn't just show or hide a given layer - it replaces layers with others?

I have an ulterior motive for this, of course: for qgis2web to reexport styled VT groups imported via VTR, a problem I am having is that some layers are not present in the project at any given zoom level, meaning they are missed out from the export.

[2017-11-15 13:50] sfkeller commented on #112
Yes, but not "directly" accessing zxy but as data source via the TileJSON metadata file.

[2017-11-15 22:25] sfkeller commented on #84
QGIS 2.18.14 Win and plugin 1.2.5: Still the same issues:
- Load QMT as raster background
- Load a VT source, e.g. => Group "OpenMapTiles" appears in Layers Panel
- Remove group "OpenMapTiles"
- Zoom in/out => Group "OpenMapTiles" loads tiles and reappears (while it should have gone after "Remove")

[2017-11-15 22:42] sfkeller commented on #87
1. The river style generated (e.g. Limmat in Zurich) looks as if the line width is much too large, especially in zoom levels 12,11... down to 6: The style has about 10 pixel size, whereas it should be about 2 pixels.
2. There are currently way too much labels from layer place and "mountain peak". So, it seems that there is a rule missing which filters them according to the "rank" attribute (values

[2017-11-15 22:47] sfkeller commented on #84
Even when creating a "New" project, after having used a VT connection, the tile index display (lower left of window, see below) remains. That should be removed too IMHO.
![grafik](https://user-images.githubusercontent.com/43340/32864359-30ea5b58-ca5f-11e7-9fe5-60cfdc38bb36.png)

[2017-11-16 22:59] sfkeller opened #127 "VT data sources from projections other than web mercator"
add ability to read from VT data sources which have projections other than web mercator.

[2017-11-16 23:03] #62 closed, assigned to nobody

[2017-11-16 23:11] sfkeller commented on #122
I'd also expect that when group is deleted, the layers should be deleted too.
This issue seem to be a duplicate of #84 .

[2017-11-16 23:11] #122 closed, assigned to mnboos

[2017-11-16 23:17] tomchadwin commented on #122
Agreed - apologies.

[2017-11-16 23:24] sfkeller opened #128 "Add Layer dialog does not resize"
Given a screen with 900 and less pixels, do an "Add Vector Tiles Layer...", modal dialog opens.
(Do some stuff with other sources like WMS I can't remember... :-()
Then the dialog is so high that buttons at bottom of dialog can't be reached.
Any attempt of resizing the dialog fail - it switches back.
Seems like the layers list is'nt made scrollable.

[2017-11-16 23:26] sfkeller commented on #107
I think Mapbox QA tiles can be downloaded as mbtiles - but don't remember where I found it there.

[2017-11-16 23:31] sfkeller commented on #109
Adding even more new sources is probably beyond the scope of https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/projects/2 .

[2017-11-16 23:33] #105 closed, assigned to nobody

[2017-11-16 23:33] #106 closed, assigned to nobody

[2017-11-17 00:16] sfkeller commented on #121
I agree with @tomchadwin and have the same expectation on any QGIS project:
When a user saves the current project, then clicks on "New", all resources are released (as requested in #84).
When the user re-opens the project all layers should be restored (i.e. reconnected) including raster/vector data sources, webservices - and VT.

[2017-11-17 01:29] sunshine0576 commented on #112
@sfkeller Geoserver support  TileJSON metadata file.

[2017-11-17 05:47] mnboos commented on #127
@sfkeller Do you mean for example Swiss OMT (https://openmaptiles.com/coordinate-systems/)?

[2017-11-17 05:48] mnboos commented on #126
Once a layer has been added, it stays in the project, but its datasource will be updated.

[2017-11-17 06:28] sfkeller commented on #112
We can't test GeoServer Support without an example of a remote server.

[2017-11-17 07:08] mnboos commented on #121
And if there are multiple vector tile reader sources in the project, each should be connected?

[2017-11-17 07:34] sfkeller commented on #127
Yes.

[2017-11-17 07:43] sfkeller commented on #126
@mnboos Can you describe once again the rules how the 1. main group name entry, 2. the layer group entries and 3. the layer names are derived from the VT source/metadata, and 4. how these are changed when zooming in/out (or point to some docs)?

[2017-11-17 08:58] sfkeller commented on #121
Exactly - similar to multiple WMS/WMTS.

If that is not possible (due to complexity or resource constraints), the MVT plugin should prevent loading more than one vector tile reader source.

[2017-11-17 09:36] mnboos commented on #87
There is no auto-generated style included yet, because the development is not complete yet. I can show you a preview of a generated style:

![image](https://user-images.githubusercontent.com/22575883/32940498-1eb72dc4-cb83-11e7-998d-78fe1bcf1a48.png)

[2017-11-17 09:48] sfkeller commented on #126
@tomchadwin Many thanks for your testing and contributions of this MVT reader! Just a remark little bit offtopic regarding qgis2web: IMHO as qgis2web I would only reexport VT sources which are not remote (like e.g. mbtiles). All remote services should be exported as "normal" Leaflet VT sources - very much like WMS.

[2017-11-17 11:10] mnboos commented on #127
Okay, thats included in todays release v1.3.0.

[2017-11-17 11:10] #127 closed, assigned to mnboos

[2017-11-17 11:13] tomchadwin commented on #112
@mtravis Are any of our Geoservers on versions recent enough to support vector tiles?

[2017-11-17 11:14] mtravis commented on #112
I don't believe so. Let me check.

On 17 Nov 2017 11:13 am, "Tom Chadwin" <notifications@github.com> wrote:

[2017-11-17 11:18] tomchadwin commented on #112
@sunshine0576 Do you know which Geoserver version introduced VT support?

[2017-11-17 11:23] tomchadwin commented on #126
@sfkeller If I understand you correctly, that is indeed what qgis2web does with VT layers from Vector Tiles Reader. It simply graps the source URL and includes it in a Leaflet map. The added value, though, is the styling. qgis2web exports the QGIS styles as Leaflet.VectorGrid or OpenLayers styles. This means that there is now a QGIS workflow for applying your own styles to a third-party VT server

[2017-11-17 11:29] tomchadwin commented on #126
Is the change in the datasource limited to the layer being requested? Otherwise the source remains the same, right? And you confirm that layers are never dynamically *removed* as they disappear from the QGIS canvas?

Having thought about this more, I see that my original request is not possible: you cannot initially populate the tree with all layers from all possible zoom layers and all extents, b

[2017-11-17 11:31] mtravis commented on #112
Its seems that the vt extension is only available with 2.11 onwards.

https://sourceforge.net/projects/geoserver/files/GeoServer/2.11.0/extensions/

@tomchadwin the shared geoserver is running 2.9

On Fri, Nov 17, 2017 at 11:18 AM, Tom Chadwin <notifications@github.com>
wrote:

[2017-11-17 11:32] tomchadwin commented on #112
And we can't use yours? *@tomchadwin gives @mtravis a winningly persuasive smile*

[2017-11-17 11:38] mtravis commented on #112
![image](https://user-images.githubusercontent.com/1799238/32945511-a0c9cf76-cb8b-11e7-8508-a76a2c877721.png)

Shamefully we are even further behind (need to upgrade ubunutu first). I've only just seen the whole thread so see that you need one for testing.

[2017-11-17 11:39] tomchadwin commented on #112
And for fun...

[2017-11-17 11:41] mtravis commented on #112
of course...

[2017-11-17 15:02] mnboos commented on #101
@nvkelso If you didn't already see it, just wanted to inform you, that I'm developing a Mapbox GL JS Style parser, that generates QGIS qml styles from a given mapbox style. Maybe it's easier for you, to create a Mapbox style for Mapzen and generating the QGIS styles.

[2017-11-17 16:02] mnboos commented on #126
I don't see why point 3 and 5 would be necessary. If for a given zoom and extent no features are loaded, the layer source, which is GeoJSON, will have an empty 'FeatureCollection'. As a result of this, the layer stays in the tree, but no features are actually shown, as there are none for this layer.

In reality, most of the layer-sources will always be updated and end up with new features or witho

[2017-11-17 16:06] tomchadwin commented on #126
I was wondering that as I typed that previous message. Question: is one layer within a subgroup ever replaced by another of the same name and geometry type? If not, perhaps everything is fine.

[2017-11-17 16:09] tomchadwin opened #130 "Cannot convert float NaN to integer"
I'm getting this every so often. Latest instance was that I had an existing non-VT project open, and added Mapzen VT to it:

[code]

[2017-11-17 16:10] mnboos commented on #126
No. Once a layer is in the tree, it stays there, even if its feature collection is empty. This means, a layer group can end up with at most 3 layers (1x polygon, 1x point, 1x linestring). These layers will have the same name, actually the same name as the group they're placed in.

[2017-11-17 16:11] nvkelso commented on #101
If you also had a Tangram scene file converter than sure, but the Mapzen styles aren’t written in MapboxGL so this wouldn’t help :/

[2017-11-17 16:11] tomchadwin commented on #130
Possibly because non-3857. Will just upgrade - saw you added CRS support.

[2017-11-17 16:16] tomchadwin commented on #130
Maybe fixed by using master. Will close for now.

[2017-11-17 16:16] #130 closed, assigned to nobody

[2017-11-17 16:25] mnboos commented on #101
That was my assumption. But creating a Mapbox Style is probably faster than creating the equivalent qgis styles.

[2017-11-17 18:01] nvkelso commented on #101
I'm pretty handy in QGIS ;)

On Fri, Nov 17, 2017 at 8:25 AM, Martin Boos <notifications@github.com>
wrote:

[2017-11-18 11:18] #123 closed, assigned to mnboos

[2017-11-18 11:23] mnboos commented on #121
Wanted to implemented this and realized, that layer custom properties won't be persisted?!

I can save the connection in another way, but the question, why layer custom properties aren't persisted, stays open.

[2017-11-18 11:24] tomchadwin opened #131 "Error if disconnect and reconnect"
I experience this if I hibernate my laptop and then wake it up again:

[code]

[2017-11-18 11:25] tomchadwin commented on #121
They are persisted - they are saved to the `.qgs` project file.

[2017-11-18 11:26] mnboos commented on #121
But when I reload the same project, all values accessed via .customProperty(...) are None.

[2017-11-18 11:27] tomchadwin commented on #121
After adding the VT layers, did you save your project before closing it?

[2017-11-18 11:28] mnboos commented on #121
Yes. I'll have a look at the project file.

The key is empty. Probably a problem because I wanted to save a whole object, what then leads to invalid xml.

[2017-11-18 12:18] mnboos commented on #128
IMHO it's nowadys rather unusual to have a display with such a low resolution. The connections dialog was developed for at least FullHD.

The layer list is scrollable:
![image](https://user-images.githubusercontent.com/22575883/32980248-250812a2-cc63-11e7-89e0-43f8a0cd8afd.png)

[2017-11-18 12:23] mnboos commented on #121
If solved it by saving the dict as string and creating a dict again when loading. Thanks anyway.

[2017-11-18 12:31] tomchadwin commented on #126
I think that you are correct, and no change is therefore required. Thanks for your patience as I talked this through.

[2017-11-18 12:31] #126 closed, assigned to nobody

[2017-11-18 12:33] tomchadwin commented on #121
Splendid. In case anyone needs it in the future, the example I found was in the grid setting:

[code]

Actually, looking that that properly, I can't really make sense of what it's doing. Never mind.

[2017-11-18 12:34] mnboos commented on #131
That looks more like a QGIS error, only triggered by the plugin.

[code]

[2017-11-18 12:46] mnboos commented on #126
Happy to help :-)

[2017-11-18 15:19] sfkeller commented on #128
Tablets still have this low resolution and I think we should not exclude these.
I'll come back on this issue when I manage to replicate the behaviour where the list was not scrollable.

[2017-11-18 17:27] mnboos commented on #128
QGIS on a tablet?

[2017-11-18 17:35] sfkeller commented on #128
Yes, (Rugged) Windows tablet:
![grafik](https://user-images.githubusercontent.com/43340/32983069-30d36376-cc8f-11e7-8e3f-80ecdff44a35.png)

[2017-11-19 00:49] #75 closed, assigned to nobody

[2017-11-19 00:51] sfkeller commented on #131
@m-kuhn: Do you have an idea if this is a QGIS error?

[2017-11-19 00:55] sfkeller commented on #88
At least do some checks if the plugin currently uses deprecated functions (and if yes, which ones, and if they already can be replaced).

[2017-11-19 01:19] sfkeller commented on #72
We're using QgsNetworkAccessManager of QGIS and thus support also Proxy configuration as they an set by the user in the QGIS menu "Settings", dialog "Options > Network". In fact there's also a User-Agent value set by user (default "Mozilla/5.0" QGIS 2.18.14).

So, in case this enhancement would be supported by the plugin, I'm not sure where to put it exactly: To the layer connection?

@mnboos : Lo

[2017-11-19 08:22] mnboos commented on #128
What's the resolution of the tablet?

[2017-11-19 08:46] tomchadwin commented on #131
That error indicates a vertex closer to the pole than is supported by the projection. I don't see what that has to do disconnect/reconnect, so I'll try to get more specific info. Can anyone else recreate the issue?

[2017-11-19 08:56] mnboos commented on #128
Fixed. Resizes automatically if required. Minimum height is about 550px, that's the minimum required for the connections dialog to show all options.

[2017-11-19 08:56] #128 closed, assigned to mnboos

[2017-11-19 09:02] tomchadwin commented on #109
I read a post about what is required to get `ST_AsMVT` working, but I'm damned if I can now find it. As I recall, connecting directly means you have to recreate functions which VT servers carry out themselves. An important example is scale-dependent geometry simplification.

There's a minimal Flask example here:

https://medium.com/@giohappy/vector-tiles-postgis-and-openlayers-258a3b0ce4b6

[2017-11-19 09:23] tomchadwin commented on #88
I could help with this, but I'll obviously also have to convert my plugin, so we'll see if I have time or not. I did a test run quite a few months back, and it wasn't too bad. Can you tag this issue if you create a branch purely for QGIS3 compatibility?

[2017-11-19 12:02] m-kuhn commented on #131
It's triggered inside proj.4, probably caused by bogus parameters. A mispositioned vertex sounds plausible, but I can neither confirm nor deny this.

[2017-11-19 12:17] mnboos commented on #88
It's already working:

![image](https://user-images.githubusercontent.com/22575883/32990570-f7434d04-cd2b-11e7-8c0e-00afa74e023a.png)

[2017-11-19 14:18] sfkeller opened #133 "Performance issues with rule-based style and expression functions"
The MB GL style generator - as currently implemented here by #87 - generates QML containing rule-based style and expression functions.

Now it seems that there are performance issues when using theses styles. My guess is, that the evaluation of expressions currently is especially slow due to it's current implementation in QGIS (QgsExpression parser+evaluator).

@mnboos Can you provide some more de

[2017-11-19 15:15] sfkeller commented on #101
@nvkelso / all: First of all thanks for your engagement! I'm thrilled by Vector Tiles (VT) being leading-edge cartographic web technology, and I'm excited how far @mnboos already pushed the limits making VT available in QGIS, which means VTs are available offline in a desktop GIS. I think you heard i.e. about the price PrixCarto which OpenMapTiles.org recently won, which is mainly based on the the

[2017-11-19 15:28] sfkeller commented on #125
Interesting issue: "Background color" in fact is a project property, currently set by this plugin without notice when OpenMapTiles styling checkbox is checked. This is a need from some VT styles.

This situation is somehow comparable to CRS where some sources set or override the project CRS to 3857 and enable OTF - like some WMTS which are only in 3857 - and like MVT!

We have to thoroughly think

[2017-11-19 15:37] sfkeller commented on #72
@nextstopsun Is this still an issue for you?

If yes, I'm still unsure if it makes sense to require the client - and thus to disturb the user - to set a source and vendor specific http header, when this can be resolved otherwise.

[2017-11-19 16:24] tomchadwin commented on #125
I'm not sure it's the same with CRS. The project CRS changes to match the opened layer only if the layer is the first to be added to the project, right?

I just think a checkbox in the plugin dialogis needed to say "Set project background colour from vector tile style" or something line that.

[2017-11-19 16:45] sfkeller commented on #109
And here's another Flask example: https://www.zimmi.cz/posts/2017/serving-mapbox-vector-tiles-with-postgis-nginx-and-python-backend/ .

I really think that optimally PostGIS is just another source like GeoServer #112 and both just need to have a remote TileJSON metadata file, pointing to these ZXY tile sources.

[2017-11-19 17:09] tomchadwin commented on #109
Another argument for wontfix: if the user has access to the database, they don't need to use VT to open the data in QGIS - they can just query without `ST_AsMVT`.

[2017-11-19 17:47] mnboos commented on #133
It's not that bad anymore. I think I can make some more improvements.

[2017-11-19 17:49] mnboos commented on #107
You are right, they're downloadable from: https://osmlab.github.io/osm-qa-tiles/

[2017-11-19 17:49] #107 closed, assigned to mnboos

[2017-11-19 17:51] sfkeller commented on #112
Dear @flippmoke : Pls. allow me to bump on this again since here at Vector Tiles Reader for QGIS project (to be released end of 2017) we are heavily relying on remote TileJSON and mbtiles metadata, while TileJSON spec. still does not even mention Vector Tiles.

I'd really like to know now which metadata is going to be there - mandatory or optional.

Saying "we" I dare to include OpenMapTiles by @k

[2017-11-19 17:53] mnboos commented on #125
I think applying a style but not its background colour doesn't make sense.

[2017-11-19 17:55] mnboos commented on #72
This code has now been removed, as it became obsolete with the chame from urllib to QgsNetworkAccessManager. I think custom header shoud be set in a proxy, not in the plugin itself.

[2017-11-19 17:58] #72 closed, assigned to mnboos

[2017-11-19 18:02] sfkeller commented on #125
Wait a moment; you can't state this in general. Regarding styling there are at least three choices about background colour: 1. assume default (white), 2. don't care (like in raster), 3. set or overwrite background.

[2017-11-19 18:07] mnboos commented on #101
I took a quick look at the Tangram style and from what I saw, it should not be a problem to adapt the converter to also support Tangram styles.

[2017-11-19 18:08] mnboos commented on #88
See #132

However, I'm currently letting this issue open, as QGIS is officially only at version 2.99.

[2017-11-19 18:11] #133 closed, assigned to mnboos

[2017-11-19 18:24] tomchadwin commented on #125
If I consciously set my own bg colour, I have a reasonable expectation not to have that colour overwritten silently when opening a layer. I don't imagine any other provider would do it, though obviously I'm aware that layers/providers are generally separated from styles.

Think of it as a separation issue: adding a layer is a separate concern to changing project settings. My project might well alr

[2017-11-19 18:43] sfkeller commented on #125
I see your points. Just consider following:
* This VT plugin currently only sets bg colour when a specific style is chosen by the user and/or VT source (currently it's the "Apply predefined OpenMapTiles style").
* When designing a basemap style you always have to decide on how to deal with map bg (or paper color).
* When the user chooses a raster source as basemap, it's likely having it's own bg c

[2017-11-19 21:31] pnorman commented on #112
fwiw, I don't have any plans on including tilejson data with the projects I'm currently working on.

[2017-11-19 21:34] tomchadwin commented on #125
Point by point:

- "style" in QGIS would mean layer style to a significant majority of users

- sure - make it a checkbox

- that is not a background colour, but part of the layer

I really think you should consider the inside of the box on this. Other than the fact that it's more work, why do you object to giving more control to the user without losing any functionality?

[2017-11-19 21:40] sfkeller commented on #112
@pnorman Thanks for the info (BTW you probably have been the first realizing this issue in 2014: https://github.com/mapbox/tilejson-spec/issues/14 !)

[2017-11-19 21:42] systemed commented on #112
Yes, would be good to get this finally sorted out - .mvt is in real danger of turning into the new Markdown (everyone uses it, no two clients parse/write it the same way).

[2017-11-19 21:49] nextstopsun commented on #72
IMHO proxy settings is a general one. The headers I've mentioned are used only for fetching vector tiles from a specific server.

[2017-11-19 21:51] sfkeller commented on #125
I'm not objecting ultimately, I'm just pondering :-)

[2017-11-19 21:59] sfkeller commented on #72
Ok. So this is an possible option to be handled by the VT source layer/connection.

Initially - at the top - you wrote about setting "custom http headers for tilejson url" (not fetching tiles) and gave an example of the header you expect.

Can you explain once again 1. which requests are affected, 2. why this can't be handled by the server, and 3. can you pls. provide some TileJSON URLs to test?

[2017-11-19 22:49] sfkeller commented on #125
@klokan / @nvkelso : Do you know if all "web" VT styles you know (MB GL JS or Tangram) use and set background color explicitly?

Setting the background color in a GIS is part of the "map project" settings as @tomchadwin points out and he suggests to offer an option "Set project background color from style" or similar.

I found "background-color" in MB GL style specs. TileJSON obviously does not co

[2017-11-20 07:25] aaime commented on #112
Hi, I had no part in adding MVT support for GeoServer, let me add into the loop @dblasby, @jodygarnett and @tbarsballe (sorry for the long lineup, I'm not sure who's maintaining vector tiles these days)

[2017-11-20 07:52] DBlasby commented on #112
The easiest way to connect to Geoserver vector tiles is via the standard OGC WMTS - you can use the GetCapabilies to get any meta data you need.

You can connect to it as a XYZ server, but (I believe) you have to use -Y ordinates.

There is a trivial example in the geoserver documentation - for OL3 (more on the OL3 site).  You will need a recent geoserver, with the vector tiles plugin (extention)

[2017-11-20 07:59] mnboos commented on #108
Done

[2017-11-20 07:59] #108 closed, assigned to mnboos

[2017-11-20 09:08] mnboos commented on #84
Done

[2017-11-20 09:08] #84 closed, assigned to mnboos

[2017-11-20 09:09] mnboos commented on #121
Done

[2017-11-20 09:09] #121 closed, assigned to mnboos

[2017-11-20 14:21] mnboos opened #134 "'NoneType' object has no attribute 'get_source'"
1. Open a valid connection
2. connect to a connection that will fail
3. Close connections dialog
4. Zoom / pan

[2017-11-20 14:48] mnboos opened #135 "Document layer and group names"
Document how layer and group names are generated

[2017-11-20 18:30] sfkeller opened #136 "MB GL JS pixels do not correspond to QGIS and other pixels"
When mapping MB GL JS to QGIS styles (#87) there seems to be a glitch regarding pixels values. If these pixel values are mapped 1:1 to QGIS pixels, the resulting graphic size in QGIS seems to be much larger.

The MB GL JS  spec speaks of "Units in pixels", e.g. line-width (https://www.mapbox.com/mapbox-gl-js/style-spec/#layers-line ). Now, there is evidence that this is a special kind of pixel uni

[2017-11-20 21:41] flippmoke commented on #112
I just wanted to let everyone know that we are working internally at Mapbox to update both the mbtiles and tilejson specs to be correct. Thanks you everyone for your notes about this, we definitely want to make sure it is all correct. If you have concerns for the individuals specs please add issues to the `tilejson-spec` (or a pull request is even better!). For `mbtiles-spec` the pull request that

[2017-11-20 21:42] mnboos commented on #136
This may also be helpful: https://github.com/mapbox/mapbox-gl-js/blob/3f419f30b99271cf05c269c8cd40d5c948119533/src/style-spec/expression/definitions/interpolate.js#L213

[2017-11-22 08:08] sfkeller commented on #125
I've got no feedback so far but came to following conclusion: I checked Maputnik and assume MB Studio is similar: Both show the background color settings at the top. In a map style - especially if it's a base map - background color is an integral part of the design. Soon, there will be an option in the "Add Vector Tile Layer" dialog to attach a MB G JS style file to a VT source.

My proposal is: I

[2017-11-22 10:01] sfkeller commented on #131
@tomchadwin : Can you reproduce this error? Did you test the same with differnent VT sources (OpenMapTiles connection, Mapzen connection, or even mbtiles file)?
I fear, that if the bug is not reproducible elsewhere, we have to close it for now.

[2017-11-22 10:03] tomchadwin commented on #125
I'll have one last go at trying to persuade you not to do this:

- you should *never* do something the user is not expecting
- you should *never* do something which the user cannot easily undo
- a VT layer is still a layer, and therefore *all actions relating to that layer should affect only that layer*
- the parallel of rasters is not valid - they don't have a background, but have pixels there, i

[2017-11-22 10:07] tomchadwin commented on #131
I've just tested again, and cannot recreate, so I'll close. Thanks.

[2017-11-22 10:07] #131 closed, assigned to nobody

[2017-11-22 10:35] sfkeller commented on #112
@DBlasby Thanks for you answer.

Our VT QGIS client consumes three sources: Online (=TileJSON), File (mbtiles) and a local directory of unpacked vector tiles (still zipped PDFs but being in subdirectories according to the XYZ index).

The TileJSON contains metadata similar to WMTS GetCapabilies but not really.  And I really prefer to build on a spec. which is aware of vector tiles - which is why I

[2017-11-22 11:07] tomchadwin commented on #136
This isn't a DPI/HiDPI issue is it?

[2017-11-22 12:02] sfkeller commented on #125
Persuaded! (Fun side remark: VT reminds me to video terminal, and VTR to video tape recorder... so I think we should say "MBVT Reader" :-).

@mnboos : I suggest now following:
  * In the "Add Vector Layer..." dialog, add next to "Apply Style" a checkbox "Overwrite background color" (default checked),
 * notify user displaying "Style '{style-name}' has changed background color (see log).", and
 * n

[2017-11-22 12:05] tomchadwin commented on #125
I hope you don't feel bullied... But thanks!

[2017-11-22 16:46] DBlasby commented on #112
Hi - @smithkm (kevin smith) is the GWC lead.  You can contact him on the Geoserver-devel mailing list.  http://geoserver.org/comm/

[2017-11-22 18:54] mnboos opened #137 "Manual zoom cannot be set"
The spinner for the manual zoom-level isn't working anymore.

[2017-11-22 19:55] sfkeller commented on #112
That's the the current metadata read by this MBVT Reader QGIS plugin:
  * tiles: "https://domain.org/data/v3/{z}/{x}/{y}.pbf"
  * minzoom: 0
  * maxzoom: 14
  * bounds: [-180,-85.0511,180,85.0511]  -- Synonym extent.
  * attribution: "<html_code>"  -- optional, maybe empty string
  * crs: 3857 -- optional EPSG code; 3857 by default
  * vector_layers: -- List of layers, each described with id, desc

[2017-11-22 21:02] mnboos commented on #136
I think it's a scaling issue, resulting from my mapping "map_scale -> zoom", which seems to differ from Mapbox.

[2017-11-23 11:45] tomchadwin commented on #131
I won't reopen, but I've just had this again with 1.3.0:

[code]

[2017-11-23 16:16] nvkelso commented on #125
@tomchadwin In Tangram it's https://mapzen.com/documentation/tangram/scene/#background.

[2017-11-24 09:31] mnboos commented on #136
Finally:

![image](https://user-images.githubusercontent.com/22575883/33204082-9a06e404-d102-11e7-892a-1b24135d1ffa.png)

[2017-11-24 09:31] #136 closed, assigned to sfkeller, mnboos

[2017-11-24 10:13] mnboos commented on #135
Done: https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/wiki/User-Guide#layer-naming

[2017-11-24 10:13] #135 closed, assigned to mnboos

[2017-11-24 18:47] tomchadwin opened #138 "Permission issues reading SVGs"
I can't quite understand what the issue is yet, so a simple question to begin with: how are the SVG marker symbols created, and where are the SVGs saved? I'm getting a permission error when trying to work with them.

[2017-11-24 19:48] mnboos commented on #138
The icons are located in the /styles/icons folder, which is then added to the QGIS svg lookup directories. Have you got a stacktrace or so?

[2017-11-24 22:07] tomchadwin commented on #138
The error happens in qgis2web, so I'll raise the issue in the MBVT thread and tag you. Thanks.

[2017-11-24 22:07] #138 closed, assigned to nobody

[2017-11-24 23:28] smithkm commented on #112
I'm not sure what kind of vector tile awareness you need in your protocol.  WMTS doesn't require interaction with the content of the tiles so all it needs to support a format is the MIME type.  GeoWebCache is able to handle all of its supported vector tile formats through WMTS.  New tile protocols are fairly easy to plug in to GWC so if you want to implement this TileJSON protocol you are welcome

[2017-11-25 00:37] sfkeller commented on #112
Thanks @smithkm for your comments. You wrote:

It's currently really these attributes I listed before your comment:
* tiles refers to the vector tile data (compressed pbf).
* minzoom and maxzoom announce in which zoom levels there are tiles.
* bounds and attribution (while attribution is IMHO the only optional attribute).
* vector_layers contains the layers and their field names. This schema is us

[2017-11-25 09:49] tomchadwin opened #139 "OpenMapTiles style: waterways too wide?"
![waterways](https://user-images.githubusercontent.com/7840213/33229399-e0123a16-d1c5-11e7-9328-4b52a70911e9.png)

[2017-11-25 09:50] mnboos commented on #139
Correct. However, this style will soon be replaced by the mapbox2qgis style generator, which produces more correct results.

[2017-11-25 09:50] #139 closed, assigned to nobody

[2017-11-25 09:54] tomchadwin commented on #139
Thanks.

[2017-11-25 10:09] mnboos commented on #133
Actually, it strongly depends on the style and there is room for improvement.

[2017-11-25 11:31] mnboos commented on #137
Done

[2017-11-25 11:31] #137 closed, assigned to mnboos

[2017-11-25 11:36] mnboos commented on #134
Done

[2017-11-25 11:36] #134 closed, assigned to mnboos

[2017-11-25 12:16] tomchadwin opened #141 "QGIS Layer Styling panel: empty layer selector dropdown"
MBVT layers don't seem to appear in the layer selector dropdown at the top of the Layer Styling panel. This screenshot is with the OpenMapTiles layer 'boundary' selected in the QGIS layers list:

![styling](https://user-images.githubusercontent.com/7840213/33230379-68d7855e-d1da-11e7-99ca-a437285c4df6.png)

[2017-11-25 23:58] sfkeller commented on #141
Can confirm that here on latest develop branch. It's weird though and not really a bug since styling in Layer Properties looks alright.

@mnboos:
 * Seems like they added another field in the API when they introduced the Layer Styling panel?
 * Could be a field is missing which identifies the layer/group name?

[2017-11-26 01:37] smithkm commented on #112
The WMTS  capabilities document currently provides all of those except the attribute names.  That could probably be added via the WMTS extension mechanism although it would require a mechanism for setting it (this would also be a problem for implementing TileJSON).  This would be a somewhat similar issue to the handling of legend graphics.  The underlying data for a layer might vary  with zoom lev

[2017-11-26 02:18] sfkeller commented on #112
Yes, the nature of vector tiles (VT) is that the data and most probably the schema too changes at every zoom level. And the data and schema coming from different VT providers varies.

As said, vector_layers in de-facto TileJSON contains those field names for each zoom level. See e.g. https://gist.github.com/jatorre/6212354d5e023076797db7ea18540c33 . Without knowing these attributes a client has a

[2017-11-26 02:37] smithkm commented on #112
GeoServer uses a style to simplify the data before packaging it up as a vector tile.  In particular it  reduces the attribute set based on the style. GeoWebCache layers are configured with parameter filters that allow a layer to vary based on style, time, elevation etc.  So a GWC cached GeoServer layer might end up giving different attribute sets depending on that parameter.

[2017-11-26 03:37] DBlasby commented on #112
Geoserver goes through a "rendering" process to create the vector tiles.  For example, zoomed out, you might only want to put in HWY roads, or lakes bigger than a certain area, or turn layers on/off.  You control that with styles in Geoserver.

You can see more about VT control in GS in the talks linked here;

http://docs.geoserver.org/latest/en/user/extensions/vectortiles/index.html

[2017-11-26 03:42] smithkm commented on #112
Ah right I think I was conflating attributes being removed with features being removed, Thanks Dave.

[2017-11-26 07:21] klokan opened #142 "Mac OS X binaries failing"
pbf2geojson binaries are not correct - as the result, QGIS crash message appears and the plugin does not display the maps.

[code]

Clean installation, latest Mac OS X 10.13;1, latest QGIS 2.18.14 from Kyngchaos, latest published plugin 1.4.0.

[2017-11-26 07:25] klokan commented on #142
Workaround seems to be to delete the mentioned .so file:
`/Users/klokan/.qgis2/python/plugins/vector_tiles_reader/ext-libs/pbf2geojson/pbf2geojson_osx_x86_64.so`
and then the plugin fallback to python decoding.

[2017-11-26 07:30] tomchadwin commented on #141
Just to confirm that there don't seem to be any other effects of this. But it is odd, and I'd be a little concerned in case some other side effect later becomes apparent.

[2017-11-26 08:13] mnboos commented on #142
Sorry, I think I didn't configure travis-ci correctly and due to this, the osx binaries were actually linux binaries. I'm currently preparing a hotfix which should be ready in some minutes.

[2017-11-26 08:21] mnboos commented on #142
Done and published. Please verify.

[2017-11-26 08:40] mnboos commented on #141
I'm investigating, but it's difficult to find out where / how to start. I assume it has to do with how I add the layers to QGIS. If I add a vector layer with the same source manually via QGIS, it appears in the styling panel.

[2017-11-26 08:54] mnboos commented on #141
Maybe @m-kuhn can give me a hint where to have a look at?

[2017-11-26 09:21] klokan commented on #142
Thanks! Upgrade to 1.4.1 fixed the problem. Log says now "Native decoding supported!!!"

BTW when zoomed in I don't see buildings and more details. But I have not seen them on 1.4.0 with the software decoding either.

Probably related to the latest modifications...?

[2017-11-26 09:22] #142 closed, assigned to nobody

[2017-11-26 09:56] klokan opened #145 "Attribution to the data sources"
OpenStreetMap data and OpenMapTiles require attribution whenever the map is displayed.

There may be an easy way how to do that in QGIS on screen:

From https://gis.stackexchange.com/questions/126737/how-to-insert-a-statement-e-g-copyright-which-remains-visible-in-mapping-wind

The plugin could probably enable this decoration and directly set the text from the "attribution" field provided in the T

[2017-11-26 10:12] tomchadwin commented on #145
Attributions can also be set per-layer, but I'm not sure about layer groups. Setting the attribution on the root layer group would be ideal.

[2017-11-26 10:56] #88 closed, assigned to mnboos

[2017-11-26 11:01] sfkeller commented on #145
I'm very much in favor of attribution. But in this case I'm reluctant to let the plugin create a Copyright decorator. I propose to rather put this forward as a default decorator in the print composer (or e.g. qgis2web?). QGIS 3 is in early stages and chances are high that pull requests are accepted.

Reason is that it's about decorators like a legend which - as you say too - have to go to the QGIS

[2017-11-26 11:08] sfkeller commented on #127
If you have unit or blackbox tests and (documented) examples for that nice feaure, you can close this issue.

[2017-11-26 11:10] sfkeller commented on #145
Can I close this (as Milestone 2 is approaching...)? Can reopen at any time.

[2017-11-26 11:10] #145 closed, assigned to nobody

[2017-11-26 11:10] tomchadwin commented on #145
If qgis2web is not outputting those layer attributions, that's an error, so I'll look into it.

[2017-11-26 12:09] sfkeller commented on #112
This reminds me to the confusion Mapnik introduced when they used the name "schema style" to produce VT. At least they mention (hopefully) "schema". But even cartographers call this view/filter step "database generalization". I hope VT documentation makes this clear to the VT data generating and consuming users.

So, coming back to my initial intention to reach de-facto interoperability with Mapbo

[2017-11-26 12:49] sfkeller commented on #109
Agreed.

For the records: PostGIS is - or will be - supported via several servers and generators compatible with Mapbox vector tile (MVT). Examples are t-rex, tilemaker, and eventually GeoWebCache/GeoServer. So, this MVT plugin can consume already PostGIS VT with it's Connection dialog.

I'm remaining open to include this in future plugin development. This could probably be a useful feature for th

[2017-11-26 13:10] sfkeller commented on #101
We are close to release another beta version of the QGIS plugin which shows nice VT basemaps e.g. from OpenMapTiles. It reads MB GL JS style (given an extended Vector Layer Connection in the plugin which refers to a style file) and convert's it on-the-fly to QGIS QML XML files. This is the converter which @mnboos is referring to https://github.com/mnboos/mapbox-gl-style-to-qgis .

@nvkelso : Any u

[2017-11-26 13:30] sfkeller commented on #15
Reopening. Got several issues in new releases e.g.
  1. Loading too IMHO many tiles (>32) at certain scales (to be optimized).
  1. Not loading Zoom 2 when given OMT and brand new QGIS project (no other layers loaded).
  1. Loading Zoom 3 instead Zoom 2 (="World) with "Zoom to Group" (right-click on Group in Layer Selector) given OMT source.
  1. Changing inadvertedly actual scale when loading a M

[2017-11-26 13:32] mtravis commented on #109
Sounds like a great plugin. Look forward to testing it out.

On 26 Nov 2017 12:49 pm, "Stefan" <notifications@github.com> wrote:

[2017-11-26 13:58] sfkeller commented on #15
Here's a black box test (tbd. in unit tests?) of MVT Reader describing expected positive results which tests auto-load, zoom level/scale, styling/rendering, etc.:

 1. (Re-)Start QGIS.
 1. Load WMTS „OSM Standard“, e.g. using QuickMapServices. => World being displayed at 1:~200 mio. and zoom 2.
 1. Load MVT Connection „OpenMapTiles“ (with styling). => World being displayed at 1:~200 mio. and zoom

[2017-11-26 14:11] sfkeller opened #146 "Reload Button in MVT menu to reload from source"
Currently "Refresh" button reloads from cache only (pbf's unpacked as GeoJSON files).

Regarding this plugin I suggest that it clears the VT cache und reloads everything from source (by maintaining e.g. current view and connection settings).

BTW: This button IMHO should be used in general rarely and only when the user thinks, a (VT) layer is out of sync with the source.

[2017-11-26 14:26] sfkeller opened #147 "Enhance error handling in "Add Layer..." dialog"
Given "Add Layer(s) from a Vector Tile Source" dialog in "Online" tab, after clicking on "Connect", currently a modal error dialog pops up saying "HTTP HEAD failed: status None".

Proposal for "Add Layer..." dialog "Online" tab:
 * Instead (Window title) ”Loading Error” => “Error”
 * In case 'None' or HTTP error 404: => “Loading error. Resource not found. URL incorrect?”
 * In case 302: => “Loadin

[2017-11-26 14:37] sfkeller opened #148 "Edit and New in Online connection not behaving correctly"
Given "Add Layer(s) from a Vector Tile Source" dialog in "Online" tab:
 * "New Connection" shows pre-set fields (same es "Edit"), but should show empty fields.
 * "Edit Connection": When changing just the "TileJSON URL" it works; bit when editing "Name" string, a new entry is being generated. Instead it should update the existing entry.

BTW: Rename "StyleJSON URL" to "GL Style JSON URL".

[2017-11-26 15:22] sfkeller opened #149 "Predefined Vector Tile Sources (inc. some with API keys)"
In "Add Layer(s) from a Vector Tile Source" dialog, "Online" tab there's a list of predefined connections, as follows:
 1. "OpenMapTiles.com (default entry with credits)"
 1. "Mapzen.com (default entry with credits)"
 1. "OpenMapTiles.com (with custom key)"

For 1. OpenMapTiles and 2. Mapzen API, keys are provided by @klokan and @nvkelso and we're very thankful about that!

These two entries are d

[2017-11-26 15:34] mnboos commented on #148
This should already be fixed on the develop branch. Except for the rename of "StyleJSON URL" to "GL Style JSON URL"

[2017-11-26 15:50] nvkelso commented on #101
I’m in the midst of moving. Maybe when I get some downtime/Monday.

[2017-11-26 17:07] mnboos commented on #147
![image](https://user-images.githubusercontent.com/22575883/33242393-a5e5d324-d2d4-11e7-8c94-23b385236481.png)

[2017-11-26 17:07] #147 closed, assigned to mnboos

[2017-11-26 17:16] mnboos commented on #146
Done. The refresh button clears the cache before reloading.

[2017-11-26 17:16] #146 closed, assigned to mnboos

[2017-11-26 17:19] mnboos commented on #125
Summary:
- Checkbox for enable / disable overwrite of project background color
- As a result of the style generator, the Checkbox "Aply predefined OpenMapTilesStyle" naming is not correct anymore and should be renamed to something like "Apply GL JSON Style"

[2017-11-26 18:15] m-kuhn commented on #141
How do you add the layer?

[2017-11-26 18:16] mnboos commented on #141
[code]

And then add them to layer tree groups.

[2017-11-26 18:18] m-kuhn commented on #141
What's the `False` for?

[2017-11-26 18:26] sfkeller commented on #141
addToLegend according to http://geoapis.sourcepole.com/qgispyapi/qgsmaplayerregistry#QgsMapLayerRegistry.addMapLayers .

BTW: Funny when a C++ programmer asks a Python programmer about a Python method given it is a wrapper around a C++ method / API :-)

[2017-11-26 18:28] mnboos commented on #141
[code]

However, it doesn't even make a difference if ```addToLegend``` is ```True``` or ```False```.

[2017-11-26 18:52] m-kuhn commented on #141
AFAIK, the combobox listens for the `QgsMapLayerRegistry.layersAdded` signal. Can you verify if this is actually emitted?

Apparently, @mnboos understood the aim of the question very well ;-)

[2017-11-26 19:02] sfkeller commented on #141
You got me! Just another humble hint: QuickMapServices also seems to use `false`, and it appears in the combobox from what I see: https://github.com/nextgis/quickmapservices/blob/master/src/qgis_map_helpers.py#L149 . It's actually followed by a `insertLayer(position, layer)` at next line 150...

[2017-11-27 06:14] mnboos commented on #141
The signal ```QgsMapLayerRegistry.layersAdded``` is correctly emitted.

[2017-11-27 07:13] m-kuhn commented on #141
What's in `layer.name()`?

[2017-11-27 08:49] mnboos commented on #141
The names of all the layers that were added:

```names: [u'water_name', u'building', u'water', u'transportation', u'landcover', u'boundary', u'transportation', u'place', u'building', u'transportation_name', u'landuse', u'building', u'waterway', u'housenumber', u'poi', u'water_name']```

[2017-11-27 08:55] mnboos commented on #125
Done

[2017-11-27 08:55] #125 closed, assigned to mnboos

[2017-11-27 09:05] mnboos commented on #148
The style can be changed, but will be overwritten by an old value.

[2017-11-27 09:44] mnboos commented on #148
Fixed

[2017-11-27 09:44] #148 closed, assigned to mnboos

[2017-11-27 13:56] sfkeller commented on #141
I see same entry (e.g. building) 3 times in the list...?!

[2017-11-27 13:57] mnboos commented on #141
Because there are multiple layers with the same name (but different geo type).

[2017-11-27 14:44] mnboos opened #150 "Layer filter not working"
![image](https://user-images.githubusercontent.com/22575883/33272244-dcf7f90e-d389-11e7-9ddb-00a8a7252275.png)

[2017-11-27 15:11] flippmoke commented on #112
@sfkeller The mandatory parts of the vector tiles are set out explicitly in the [VT spec](https://github.com/mapbox/vector-tile-spec/tree/master/2.1). It is not an easy read, but if you want to know definitively what is required that is the most important location.

As for metadata that might be used in TileJSON or MBTiles, what is considered critical metadata might differ based on how VTs are use

[2017-11-27 18:49] e-n-f commented on #112
My best attempt to describe what is necessary to create a working mbtiles file of vector tiles is in https://github.com/mapbox/mbtiles-spec/pull/47 ([spec.md](https://github.com/mapbox/mbtiles-spec/blob/a74e9a44efe682d258a5bfa3552053b7f77e5e7a/1.3/spec.md)).

I am not sure if `vector_layers` is actually necessary for rendering, but it is necessary for using Mapbox Studio to do the styling.

[2017-11-27 19:30] sfkeller commented on #112
`vector_tiles` with fields (announced as part of TileJSON) seems to me necessary to almost all VT consumers which are not purely rendering oriented. I'm thinking of databases (inlcuding MBTiles) and specifically GIS with layers etc. like QGIS.

@ericfischer: Your attempt to describe what is necessary for mbtiles spec. for VT looks good to me.

If this could be aligned with the TileJSON spec., and

[2017-11-28 09:19] m-kuhn opened #151 "Exception when adding layer"
Just installed plugin, nothing else done.

Selected 3 layers: waterways, buildings, boundaries

Version 1.4.1

![screenshot from 2017-11-28 10-18-10](https://user-images.githubusercontent.com/588407/33311562-7556c216-d425-11e7-93a8-f4c7aeb31334.png)

[code]

Python version: 2.7.14 (default, Nov  3 2017, 10:55:25) [GCC 7.2.1 20170915 (Red Hat 7.2.1-2)]
QGIS version: 2.18.13 Las Palmas, exported

[2017-11-28 09:38] mnboos commented on #151
Duplicate of #150

[2017-11-28 09:38] #151 closed, assigned to nobody

[2017-11-28 09:39] mnboos commented on #150
Workaround: Don't select any layers in the table

[2017-11-28 10:49] barryrowlingson commented on #150
What's happening is around line 565:

https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/blob/master/ui/dialogs.py#L565

where this line:

`selected_layers = dict(map(lambda i: self.model.item(i.row()).text(), indexes))`

is trying to make a dict from a list of names, [u'poi', u'housenumber', u'place'] gotten from the text of the items. dict(that) fails.

[2017-11-28 11:54] mnboos commented on #150
Instead of dict, it should probably be a list.

[2017-11-28 14:12] tomchadwin opened #152 "Tile request timeout?"
Perhaps I just hit a glitch, but I've just had QGIS hang while MBVTR is requesting tiles. What mechanisms are in place to prevent this happening?

For QGIS3, all tile requests could be sent to the new Task Manager to run in the background, but is there some failsafe for 2.x?

[2017-11-28 17:33] #70 closed, assigned to sfkeller

[2017-11-28 19:45] mnboos commented on #150
Fixed

[2017-11-28 19:45] #150 closed, assigned to mnboos

[2017-11-28 19:45] mnboos commented on #152
In which QGIS version did this problem occur?

[2017-11-28 23:22] tomchadwin commented on #152
Latest 2.18.

[2017-11-28 23:34] sfkeller commented on #152
I think the only thing one can do as plugin, is to detect the downloading timeout and show an error to the user.
BTW there's a (Re-)"Load features...." command in the plugin menu in Layers Toolbar which could be used to retry later.
(I've looked at QMS and found this: https://github.com/nextgis/quickmapservices/blob/master/src/py_tiled_layer/tilelayer.py#L294 )

[2017-11-28 23:52] tomchadwin commented on #152
I should clarify. The hang was not when initially loading the tiles from the MBVTR dialog. It happened while zooming MBVTs already loaded. I'll see if it reoccurs - everything slowed down quite badly earlier today.

[2017-11-29 09:32] tomchadwin opened #153 "Initial tile load misses tiles"
When I connect to OpenMapTiles, I very rarely get all the tiles at zoom level 2. This is what I normally get:

![2017-11-29 09_31_08-qgis 2 18 14](https://user-images.githubusercontent.com/7840213/33367985-356b0fe0-d4e8-11e7-997d-09e7c8fc5259.png)

[2017-11-29 09:35] sfkeller commented on #153
Yes; @mnboos is working on this.

[2017-11-29 19:18] mnboos commented on #153
Fixed.

[2017-11-29 19:18] #153 closed, assigned to mnboos

[2017-11-29 21:11] tomchadwin commented on #112
I find this thread really encouraging - thanks to @sfkeller for bringing a lot of interested parties together, and thanks to you all for accepting that improvement can be made. It would certainly help a MBVT beginner like me to navigate your different implementations if standards were a little clearer.

I'm sure this is not the place to mention it, but is a mandatory `id` field unique per feature

[2017-11-29 21:50] e-n-f commented on #112
I think in the Vector Tile spec `id` will remain optional because it adds a lot of overhead for tilesets that don't need it. The future direction that we have been thinking about is an additional field to identify features that have been split across tiles so they can be rejoined for rendering or matching.

[2017-11-29 21:53] sfkeller commented on #112
@tomchadwin : Thanks for testing. My strong worries are not about the Mapbox vector tile (MVT) spec. but about the metadata of Vector Tiles (as encoded in TileJSON and MBTiles)! As you realize from the discussion above, GeoServer and ArcGIS Pro devs seem not to be aware of the need of such metadata besides ZXY service/data!

You refer to the MVT spec. and this seems to me somehow stable: The spec.

[2017-11-29 23:19] tomchadwin commented on #112
@ericfischer, @sfkeller Thanks, both. Apologies for confusing metadata and data. I'm with you now.

[2017-11-30 15:16] klokan commented on #87
I am looking forward to trying https://github.com/mnboos/mapbox-gl-style-to-qgis in this plugin.

[2017-11-30 15:30] sfkeller commented on #87
(@mnboos is working mo and Fr, so stepping in):  Did you try to install the latest plugin code from branch 'develop' as instructed here https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin ?

I think we're still having issues with labels being displayed up to 2 to 4 times because they are in the buffer "area" of 4 neighbouring tiles.

Questions to @klokan:
 * It seems that Leaflet (resp.

[2017-11-30 15:44] tomchadwin commented on #87
Ironically exactly the same issue I have faced today (with no way to solve) in Leaflet.VectorGrid:

https://github.com/tomchadwin/qgis2web/issues/566#issuecomment-348159962

It's why I added a "me too" to the request for a unique ID field, @klokan:

https://github.com/openmaptiles/openmaptiles/issues/303#issuecomment-347985864

And also why I mentioned it (out of context) in the Geoserver MBVT iss

[2017-11-30 16:51] klokan commented on #87
mapbox-gl-leaflet is embedding mapbox-gl-js in leaflet - so rendering of vector tiles is done by GL JS there. So, yes, correct - Mapbox GL JS does not have a problem with redundant labels.

I thought QGIS can clip the data for the tile extent before styling. If clipped, the labels should be drawn just once as buffers are removed and never loaded in QGIS.

QGIS is not clipping the styled drawn canv

[2017-11-30 17:35] sfkeller commented on #87
Clipping tiles is a very expensive - and therefore time consuming - operation...

[2017-11-30 17:42] klokan commented on #87
You may clip by bbox just the point features, and not touch the polygons/lines, which are more expensive to process.

[2017-11-30 18:07] mnboos commented on #87
Good idea. I did that already once. If this is done in the native decoder, we wouldn't even lose performance.

[2017-11-30 18:11] mnboos commented on #87
Point clipping could be done always in my opinion.

[2017-11-30 19:04] sfkeller commented on #87
Yes - but don't clip in "Inspection Mode".

[2017-12-01 08:58] mnboos commented on #152
There was an issue that cancelling (due to reloading) may have lead to a memory leak because decoding wasn't actually cancelled.

[2017-12-01 11:08] mnboos commented on #80
A style can now be defined per connection.

[2017-12-01 11:08] #80 closed, assigned to nobody

[2017-12-01 12:42] klokan opened #154 "Labels too small - on Retina / HighDPI"
I am not sure - but it almost seems like the labels are too small in the default view:

![screen shot 2017-12-01 at 13 34 57](https://user-images.githubusercontent.com/59284/33483181-e6e4b374-d69c-11e7-9326-ffa3d9044fcd.png)

Is it related to my Retina display on Mac?

If yes, this would be a bug - which can be solved with QT HighDPI detection:
https://stackoverflow.com/questions/16527971/detect-h

[2017-12-01 20:59] klokan commented on #145
Thanks @tomchadwin

[2017-12-01 21:24] sfkeller commented on #87
Coming back to styling, especially of labels:
  * It seems that somehow geographic names (like Greifensee in the example above) are not rendered as italic labels.
  * There are curved labels in the style as can be seen some street names. AFAIK QGIS can do this too.

@mnboos: Can you look at this?

[2017-12-02 09:11] mnboos opened #155 "Apply styles if changed"
If the gl style is changed, the newly generated style should correctly be applied without the necessity to first restart QGIS.

[2017-12-02 09:12] mnboos opened #156 "Set source extents on layers"
The actual extents of the source should be set on each layer in order to allow the "Zoom to Group / Layer" functionality to work properly.

[2017-12-02 09:14] mnboos opened #157 "UI should be more user friendly"
- Move button "Manual" most right
- Clarify Loading options: "Auto reload on change of view", "Fix Zoom"

[2017-12-02 09:17] mnboos opened #158 "Copyright decorator option"
Add a checkbox "Add Copyright to map" which extends and enables the QGIS map decorations option.

@sfkeller Not sure if I misunderstood you, but I shall implement this.

[2017-12-02 09:25] klokan commented on #158
+1

Follow up on #145

[2017-12-02 13:46] sfkeller commented on #158
Yes, but wait until I checked that this option is not perceived as intrusive from outside.

 * Check that the attribution text from metadata is taken.
 * If there is no attribution text from source; don't activate decorator.
 * Make sure you don't add the same attribution text twice.
 * Implement only &copy; and href (see also TileJSON spec.)

Enabled checkbox could be look like this: "[x] Add cop

[2017-12-02 14:11] mnboos commented on #87
Will do.

[2017-12-02 15:49] mnboos commented on #156
@sfkeller Should I set the loaded extent, or the extent / bounds of the source?

[2017-12-03 01:04] sfkeller commented on #156
Goal is to behave like other layers, so in OMT with base map defaults this is the world, and this is the same as e.g. WMS/WMTS "OSM Standard" (worldwide).
 * Given option "Auto Zoom" is checked (base map mode) the extent/bounds of the metadata (TileJSON, MBTiles, etc.) should be taken;
 * else the loaded extent should be taken.

[2017-12-03 08:09] mnboos commented on #158
Done

[2017-12-03 09:15] mnboos commented on #156
Done. @sfkeller  Please test if it works as you expect.

[2017-12-03 11:11] mnboos commented on #87
@sfkeller text-transform (https://www.mapbox.com/mapbox-gl-js/style-spec/#layout-symbol-text-transform) is now implemented. Italic doesn't seem to be available even in Mapbox GL Style and is therefore not implemented in the mapboxgl2qgis converter.

[2017-12-03 11:12] mnboos commented on #157
Done

[2017-12-03 11:12] #157 closed, assigned to mnboos

[2017-12-03 11:13] mnboos commented on #154
It's not a DPI issue, it's just the old, deprecated style. The style from the generator looks like this:

![image](https://user-images.githubusercontent.com/22575883/33524785-6a1cf8b4-d823-11e7-8f75-85928b20bd33.png)

[2017-12-03 11:13] #154 closed, assigned to mnboos

[2017-12-03 11:15] mnboos commented on #152
I fixed another issue in the networking part of the reader.

@tomchadwin If it happens again, please reopen this issue and, if possible, copy the log. Thanks a lot!

[2017-12-03 11:15] #152 closed, assigned to nobody

[2017-12-03 11:17] sfkeller commented on #87
Lake names and other geonames often are in italic in topographic maps. Look e.g. at "OSM Bright" syle from OMT (see figure below). Maybe it's just another font name the styles uses, so I assume the transformer can map to several QGIS fonts too, to get the same effect?
![grafik](https://user-images.githubusercontent.com/43340/33524812-df52d84c-d823-11e7-902e-f0d07c3f4bc0.png)

[2017-12-03 11:19] mnboos commented on #87
Oops, didn't see that.

[2017-12-03 11:22] mnboos commented on #87
Ok, checked the style. Italic is only defined through the font. To make other fonts working, I'd have to download and install them. As this is intrusive and maybe not even safe, it's currently not supported by the converter.

[code]

[2017-12-03 11:25] sfkeller commented on #87
Sometimes font's have properties saying they are regular/serif, bold, italic, etc.? If yes, you at least could map this property to the fonts installed in QGIS?

[2017-12-03 11:28] sfkeller commented on #152
Just out of curiosity: What's happening when internet breaks before or during (re-)load of a remote source? What's the timeout in sec. and what's the error message the users gets?

[2017-12-03 20:11] mnboos commented on #15
Works now, i.e. with the release 1.5.0, as you describe.

[2017-12-03 20:11] #15 closed, assigned to mnboos

[2017-12-04 09:08] #156 closed, assigned to mnboos

[2017-12-04 10:48] sfkeller commented on #152
Ok. Found it: timeout comes from QGIS and error messages are more user friendly as described in #147.

[2017-12-04 11:02] sfkeller opened #161 "Handling more than one MVT source?"
Currently a new MVT source can be added but the plugin leaves all current sources "unmanaged". The plugin IMHO should...
 1. Either inform user, remove the previous source and load the new one.
 1. Or support more than one MVT sources.

[2017-12-04 11:05] mnboos commented on #87
Italic is now supported.

[2017-12-04 11:05] #87 closed, assigned to mnboos

[2017-12-04 16:21] mnboos opened #162 "Icon size in converted styles"
Currently all icons have the hardcoded size of 17px. Actually, it should be the size defined in the sprite.json.

[2017-12-04 18:51] kbevers opened #163 "Plugin crashes QGIS on OS X"
Upon installing the plugin via the plugin manager, QGIS segfaults with the following message:

[code]

This is on the latest OS X, QGIS 2.18.14 installed with Homebrew (everything is up to date). This happens both for v. 1.4.1 and 1.5.0 of the plugin. I realise that the above error message is not much to work from. I'm happy to provide any other debug info that might help find the cause of this pr

[2017-12-04 19:12] mnboos commented on #163
Thanks for reporting the problem. Do you have a proxy configured in QGIS?

[2017-12-04 19:13] sfkeller commented on #163
Yes same question from me:
  1. Did you enable "use proxy for web access"; and if yes, is this proxy working elsewhere?
  1. Did you add CA certs and if yes is it valid (i.e. working elsewhere)?

[2017-12-04 19:38] kbevers commented on #163
No proxy and no certificates.

[2017-12-05 08:00] kbevers commented on #163
Any other ideas on how I can debug this?

[2017-12-05 20:57] mnboos commented on #163
Am I right, that this error happens _before_ the plugin gets actually installed?

[2017-12-05 20:57] mnboos commented on #162
Done

[2017-12-05 20:57] #162 closed, assigned to mnboos

[2017-12-05 21:24] kbevers commented on #163
Well... It's more like during install. It's hard for me to tell exactly when it fails, but it definitely happens after pressing "Install plugin". If I manually copy the plugin into the `.qgis2` folder QGIS crashes when starting up. Presumably when trying to load the plugin.

Could it be some dependency required by the binaries that I haven't got on my system?

[2017-12-06 11:12] m-kuhn commented on #141
Can you provide a minimal code sample to reproduce this behavior?

[2017-12-06 11:21] sfkeller commented on #141
I also would suggest to see what happens when a layer is added "manually" via QGIS Python Console.

[2017-12-06 11:29] mnboos commented on #163
It's not the plugins binaries. They are only loaded at runtime and if they cannot be loaded, nothing happens.

Currently, I'm clueless, maybe @sfkeller has another idea.

[2017-12-06 12:20] sfkeller commented on #163
I'll check with a little MacBook Pro until coming monday.

[2017-12-06 14:44] sfkeller commented on #158
I double checked this issue and got to the conclusion that
=> it is OK to add a checkbox "Add copyright to map".

This checkbox is enabled by default, activates the copyright decorator in main canvas, following the rules mentioned above (don't add same attribution twice etc.)!

These are the sources:
 * Online: TileJSON spec. has attribution, optional (see above and spec.).
 * MBTiles: I think it

[2017-12-07 19:06] mnboos commented on #158
@tomchadwin Do you know how to access / modify the copyright decoration?

[2017-12-07 21:22] sfkeller commented on #158
It's weird:
https://github.com/qgis/QGIS/search?utf8=%E2%9C%93&q=decoration&type=
shows the sip file (which should expose the C++ to Python API); but
http://geoapis.sourcepole.com/pyqt/qstyleoptionviewitem#decorationSize-var
does not find any "QgsMapDecoration".
Perhaps @m-kuhn know's how.

[2017-12-07 21:55] sfkeller opened #165 "Enable OTF EPSG:3857 on tiled layer add"
Following workflow:
 1. Given a new QGIS project. Switch on Project Property "Enable on-the-fly tranformations (OTF)".
 1. Load e.g. any GeoJSON file (see attachment). GeoJSON officially is CRS 4326, so Project CRS is set to "EPSG:4326" too.
 1. Load an MVT, e.g. "OpenMaptiles.org" Online Connection, which is EPSG:3857.
 1. QGIS project now changes to "EPSG:4326 (OTF)" - which is wrong and display

[2017-12-07 22:09] tomchadwin commented on #158
For QGIS3, is it https://qgis.org/api/classQgsProject.html#a7488b66a620c80d2891e686d8229770d?

[2017-12-07 22:17] tomchadwin commented on #158
For QGIS2, it might be something you get at via `QgsProject.readEntry()`. That's certainly how you
access the scale bar settings - there is no specific API. Search the qgis2web codebase for 'scalebar', and also have a look at the contents of a .qgs file. But I don't know for sure.

[2017-12-07 22:43] flippmoke commented on #165
There is no real difference between data converted directly from the two
projections to a vector tile's projection.

ESPG:4326 -> (A projection of a VT)
ESPG:3857 -> (A projection of a VT)

The only thing of worth to note is the bounds of a tileset (which is often
based upon the bounds of ESPG:3857 area). If you can calculate the bounds
of any tile, you can easily reproject the data in the tile if

[2017-12-07 23:53] sfkeller commented on #165
Thanks for clarifying. This in fact makes it realistic that MVT reader can support different project CRS.

There are still following issues remaining:
 1. Current MVT reader does not display tiles in canvas given above test where project CRS says "EPSG:4326 (OTF)" (which is a bug).
 1. Current MVT reader follows an extension from @klokan to horse-shoe data of CRS other than 3857 into the CRS agnos

[2017-12-08 11:57] mnboos commented on #165
1. is exactly the expected result of 2.  --> Either 1. is working, or 2. They're mutually exclusive.

With the workaround mentioned in point **2.** disabled, it works like a charm:

![image](https://user-images.githubusercontent.com/22575883/33765072-89d899cc-dc17-11e7-8831-b037835ba375.png)

[2017-12-08 19:36] sfkeller opened #166 "Analysis Defaults not showing tiles in current map canvas (but at corrected area)"
Following:
 * Using QuickMapServives, load 'OSM Standard'.
 * Goto to any neighborhood with zoom level 16 (like Dättwil).
 * Load MVT source with "Analysis Defaults".
=> Nothing is displayed in current main map canvas.

The MVT plugin seems to load vector tiles at different area and zoom level, e.g. in Italia at zoom level 5.

[2017-12-10 09:25] mnboos commented on #166
I cannot reproduce the behaviour you describe. Could you please make a screenshot of the connections dialog **before** you click on "Add"? Additionally, a copy of the log from the log panel would be very helpful.

[2017-12-13 18:38] mnboos commented on #166
Has been solved; you still had zoom-level 5 set. The ui behaviour has been improved.

[2017-12-13 18:38] #166 closed, assigned to mnboos

[2017-12-13 18:39] mnboos commented on #163
@sfkeller Any updates from your side?

[2017-12-13 18:39] mnboos commented on #158
@sfkeller @klokan There is no QGIS api for that in QGIS 2. This issue can only be solved for QGIS 3.

[2017-12-14 16:15] sfkeller commented on #163
Plugin v1.6.0 worked on macOS 10.13.2 using a fresh installation of QGIS 2.18.14 from kyngchaos.
So; could not replicate the problem descibed above.

[2017-12-14 17:13] kbevers commented on #163
It must be a problem on my end then. I don't know what else I can do to determine where the problem lies. I think this should be closed.

[2017-12-14 18:27] mnboos commented on #163
Can you install other plugins?

[2017-12-14 22:51] kbevers commented on #163
Yes.

[2017-12-22 08:19] jaakla commented on #112
It seems that the `vector_layers` tag in mbtiles/tilejson is mapbox-specific not documented extension. You can consider it proprietary, and hope that their lawyers do not chime in if you use it. Requiring such metadata to be omnipresent by other vendors vector tile implementations sounds like slippery slope to me.

This metadata is very useful indeed for many use cases, without it you may need to

[2017-12-22 08:36] jaakla commented on #163
Did you get it sorted out? I just have the same issue - qgis crashed during install, and now it does not start at all - just silently crashes with latest message "loading plugins" in splash screen.

macos 10.12.6 qgis 2.18.13

[2017-12-22 08:45] sfkeller commented on #112
Actually @flippmoke (see above) gave us hope that no lawyers but techies chime in order to update the spec.

[2017-12-22 09:00] kbevers commented on #163
Nope.

If you delete the plugin folder from `./qgis2/python/plugins/` you can start QGIS again.

[2017-12-22 09:16] jaakla commented on #163
Updated qgis to currently latest 2.18.14 , still same. Attaching full crash report, it seems to have references to specific lines of code: [QGIS_2017-12-22-111049_Jaaks-MacBook-Pro-2.crash.zip](https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/files/1582033/QGIS_2017-12-22-111049_Jaaks-MacBook-Pro-2.crash.zip)

[2017-12-22 09:22] #149 closed, assigned to nobody

[2017-12-22 09:42] sfkeller commented on #163
Thanks. This crash report could give a clue about the issue.

I actually would not delete the whole folder but only subfolders (= plugins) within ./qgis2/python/plugins/ .

[2017-12-22 12:20] kbevers commented on #163
That was what "the plugin folder" refered to, although I can see why that is not very obvious.

[2017-12-22 13:45] sfkeller opened #167 "Pan and Tile Info Panel"
Implement pan a la powerpan plugin as panel.
Move zoom and tile info to panel.

[2017-12-22 14:02] mnboos commented on #141
Closed, because this can currently not be solved.

[2017-12-22 14:02] #141 closed, assigned to mnboos

[2017-12-22 14:06] mnboos commented on #161
Notify user, that this is a restriction of the current plugin implementation. Only the latest source is connected and will be updated. "You may save or delete this layer group".

[2017-12-22 14:06] #158 closed, assigned to mnboos

[2017-12-22 14:07] #68 closed, assigned to mnboos

[2017-12-22 14:27] sfkeller opened #168 "Make "merge tiles" more robust"
There are sometimes problems occurring when polygons are merged in "merge tiles" option.
It seems that it's possible to display geometries in QGIS canvas but not to merge them using GEOS library.
Code is around this:
https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/blob/develop/util/feature_helper.py#L48

[2017-12-22 17:18] flippmoke commented on #112
@jaakla

We are 100% committed to open source and open standards at Mapbox.

https://www.mapbox.com/about/open/

We work hard to keep open standards and open source. This is backed up by our use of Creative Commons license on our [specifications](https://github.com/mapbox/vector-tile-spec/#license). In fact I just added a license file to make it even more clear on the Vector Tile Specification.

N

[2017-12-23 10:52] mnboos commented on #165
Commit 562b6d60cacf1bf5abe0db1411a9bcba2f4dc112: Checkbox added to enable/disable ignoring the CRS from the metadata.

[2017-12-23 10:52] #165 closed, assigned to mnboos

[2017-12-23 21:37] mnboos commented on #161
Done.

![image](https://user-images.githubusercontent.com/22575883/34322789-df1dcaa8-e831-11e7-8596-2933105bc3ca.png)

[2017-12-23 21:37] #161 closed, assigned to mnboos

[2017-12-27 07:06] raosaeedali opened #169 "Loading mvt sources URL in QGIS"
Hi,
I want to load mvt tiles into QGIS through a URL service `https://abc.com:8080/buildings/{z}/{x}/{y}.mvt` But, the menu in the plugin allows TileJSON URL. Is there any way I can load mvt directly to QGIS?

[2017-12-27 20:52] mnboos commented on #169
Hi

Unfortunately, this is not possible. The plugins requires some metadata, like min- and maxzoomlevel. Due to this, it doesn't work like this. If the files are located on your harddisk, you could maybe use the directory connection. However, even this option requires metadata.

[2017-12-27 20:54] mnboos commented on #169
Have a look at this: https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/wiki/Help#directory

There is also described, which metadata is required exactly.

[2017-12-28 04:28] raosaeedali commented on #169
@mnboos Thanks for your timely response.

[2017-12-28 11:39] StefanJaq opened #170 "Adding vector tile service from ArcGIS / Esri not working"
Trying to add a vector tile service from ArcGIS to QGIS results in the following Error.

We are using QGIS Las Palmas with Extenstion Vector Tiles Reader QGIS Plugin.

Using the style URL https://tiles.arcgis.com/tiles/Ok7pjj1jT9rEneC7/arcgis/rest/services/Vector_tiles/VectorTileServer/resources/styles/root.json

Our setting are as in following screenshot (default):
![grafik](https://user-images.g

[2017-12-29 10:12] mnboos commented on #170
1. We're requiring the _vector_layers_ field in order to build a tree hierarchy in QGIS (and to show a preview of the available layers so that the user can make a selection of those to only load the selected layers).
1. You entered the StyleJSON URL in the field for the TileJSON, that's not working. Due to the current implementation of the reader, it's only capable of reading from one source (i.e.

[2017-12-29 10:27] mnboos commented on #170
The one with the "int() argument must be a string or a number, not 'NoneType'" was clearly an error and has been fixed. The fix will be included in the next release, which will be in the next few days.

[2017-12-29 12:06] StefanJaq commented on #170
:: _vector_layers_ field - Could you make this an optional parameter?

:: TileJSON - There exists NO TileJSON Url for the Esri vector tiles, as far as I know. The mapbox spec https://www.mapbox.com/mapbox-gl-js/style-spec/#sources allows 3 different implementations. Esri choose supplying TileJSON properties such as "tiles", "minzoom", and"maxzoom" directly in the source. Could the plugin support t

[2017-12-29 13:09] mnboos commented on #170
Technically, this would be possible.

We use the StlyeJSON URL only for styling, nothing else. Due to this, I don't think there will be a change soon in this matter in the implementation of the plugin.

@sfkeller Would you mind to comment on our StyleJSON usage, especially, that we use it only for styling, even though there are TileJSON URLs in the StyleJSON?

[2018-01-05 06:44] StefanJaq commented on #170
The "int() Argument error..." is fixed, thanks.

Summarizing, Esri vector tiles can't be used with this plugin in QGIS as the plugin supports a different implementation than Esri. Both implementations are valid.

@mnboos Thanks for your help.

[2018-01-08 04:54] raosaeedali commented on #169
Sorry to bother you again but is there any tool that can help me in devising a meta-data file from mvt files or make my own meta-data?

[2018-01-08 18:10] sfkeller commented on #78
Due to the shutdown of Mapzen services end of January 2018 we unfortunately have to remove this from predefined online sources of the QGIS plugin.

Perhaps someone steps in and takes over the publishing of these nice vector tile service?

[2018-01-08 18:12] sfkeller commented on #90
We had to remove the predefined Mapzen connection: See #78 .

[2018-01-08 18:17] nvkelso commented on #78
There is some movement that direction, please don’t remove it just yet... and the current Mapzen hostess Tilezen tiles will work thru Jan 2018.

I’m the end hopefully it’s just a config change to new URL endpoint.

[2018-01-08 18:17] sfkeller commented on #101
@nvkelso Seems we have to remove the predefined Mapzen connection from the QGIS plugin for those sad reasons: See #78 and #90.

Do you still see activities or solutions to get basemap styles which fit to Mapzen vector tiles (e.g. adapted MB GL Styles or otherwise)?

[2018-01-08 19:01] mnboos commented on #170
Happy to help.

[2018-01-08 19:03] mnboos commented on #169
I suggest you download a valid MBTiles (for examples from www.openmaptiles.org) and inspect its metadata by opening the file in a sqlite viewer.

[2018-01-09 16:06] jaakla commented on #112
Thank you for the explanation. By "single company control" I mean different from how e.g. OGC and many other standard setting groups are designed - you have open independent group of people from various backgrounds, who decide about some standard, there is no one big entity who would have final decision for any detail. "Open standard from a company" by definition is different - in addition to the

[2018-01-12 12:15] #169 closed, assigned to nobody

[2018-01-16 11:16] sfkeller commented on #170
@mboos wrote

For a GIS usability point-of-view it's obvious: Data/layer/source are loaded, styled, then save as a GIS project. So, a project acts as "grouping concept". A TileJSON represents a Mapbox VT (metadata) data/layer/source without style (like a vector GeoPackage).

A MB GL JS style (style.json), as it is handled in Mapbox tools (like Studio) in fact can contain several sources and maps t

[2018-01-16 11:20] sfkeller commented on #170
@StefanJaq wrote

I'd rather say that I still hope, that it's possible to generate a minimal TileJSON metadata file. This is needed by Maputnik as source and by Mapbox Studio too. Given this TileJSON it would be possible at least to load it as data source/layer in this plugin too.

@mboos: Any ideas to preprocess any VT source (may it come from ArcGIS Pro or tilemaker or so) and generate this Tile

[2018-01-16 13:54] xkomczax opened #172 "Implement Support of Vector Tiles Reader for QGIS 3"
Plugin states:

, even thought I am running QIGS 2.99 (on Windows 7).

![plugin-manager](https://user-images.githubusercontent.com/3698242/34992314-0da11ac6-facd-11e7-85a1-4187c395e121.png)
![qgis-version](https://user-images.githubusercontent.com/3698242/34992315-0dc38d04-facd-11e7-82f6-77d27aff0747.png)

[2018-01-16 14:29] sfkeller commented on #172
First I would adapt metadata.txt "qgisMaximumVersion=2.99" to a version tested.
I labelled it a bug also because 2.99 really is a weird way to speak of a Version 3 :-).
In fact, I labelled it also as an "enhancement" since the main goal of this plugin is/was QGIS 2.18.8/2.14.15 LTR, not Version3.

[2018-01-16 14:33] tomchadwin commented on #172
See https://lists.osgeo.org/pipermail/qgis-developer/2017-December/051023.html

[2018-01-16 15:49] cayetanobv opened #173 "QGIS crash after open Python console"
Hi team,

QGIS crash (segmentation fault) when I try to open Python console with Vector Tiles Plugin installed and activated (see below how to reproduce bug).

- OS: Ubuntu 16.04
- QGIS version: 2.18.15

Steps to reproduce the bug:

1) Open QGIS.
2) Activate plugin Vector Tiles Reader with Plugin Manager.
3) Close QGIS.
4) Open QGIS again.
5) Open Python Console.
6) Crash...

Another way to crash

[2018-01-17 00:08] sfkeller opened #174 "Check for compatibility of MBTiles Spec 1.3"
See https://github.com/mapbox/mbtiles-spec/pull/47

[2018-01-18 08:28] klokan opened #175 "QGIS 2.18.14 extent reload does not run"
On Mac with QGIS 2.18.14 and latest stable version of this plugin -  the base map does not reload data on panning with the default base map.

In the lower left corner is still zoom 0 - Tile 0,0,0
I am surprised that EPSG:3857 (OTF) - so with On the fly transformation is enabled.

There are no visible error logs under "Vector Tile Reader" log. Native decoding is supported.

I expect the problem is:

[2018-01-18 11:43] mnboos commented on #172
I will adapt the metadata to a tested version, as the current QGIS 3 "compatibility" is more an experimental state. As long as QGIS 3 has not been officially released, I won't invest much time there.

[2018-01-18 11:47] tomchadwin commented on #172
QGIS is now in feature freeze for v3, which is to be launched towards the end of February. I can't remember the precise date, but one has been published (possibly 23 Feb?). While the API is *not* officially frozen, I still think it is stable enough to work on full v3 compatibility now, handling any further API changes as they appear in the nightlies.

[2018-01-18 11:51] mnboos commented on #170
@sfkeller I think the generation/creation of a TileJSON is not even the problem. The reader is implemented this way, that it reads from a single source (=TileJSON) at a time. A StyleJSON on the other hand, consists of multiple TileJSON sources and that's the problem.

I'm thinking about the following change: The StyleJSON input is removed and the only remaining input field then accepts both type (

[2018-01-18 12:11] mnboos commented on #173
Hi @cayetanobv

Thanks for your report.

I'm using ubuntu 16.10 and cannot reproduce the problem.

Is the problem clearly related to the plugin, or can the behaviour be reproduced with another plugin? I just don't understand how opening the Python console affects the plugin.

@sfkeller Which Ubuntu version do you use, if any?

[2018-01-18 12:16] mnboos commented on #175
I think I know the reason: the map scale is neither set nor being updated in/by qgis.

Could you have a look at the scale in QGIS, right after loading zoom-level 0? Mine is set to 0 and won't even change.

See how the scale clearly not matches the actual zoom:
![image](https://user-images.githubusercontent.com/22575883/35097744-b12601a4-fc51-11e7-8f01-52889ee4ae1b.png)

[2018-01-18 12:52] mnboos commented on #175
Fixed with commit 484eada.

Will be included in the next release v1.7.1

[2018-01-18 12:52] #175 closed, assigned to nobody

[2018-01-18 13:42] cayetanobv commented on #173
Hi @mnboos ,

I think the crash is clearly related to this plugin. I tried with all the plugins I have installed and it is only raising with Vector Tiles Reader. I tried also with only this plugin activated and it is still raising.

When I launch QGIS from CLI with ```--noplugins``` flag the segmentation fault never occurs.

When I activate and deactivate the plugin Vector Tiles Reader several tim

[2018-01-18 13:49] mnboos commented on #173
Okay, I'm thinking about a way on how to be able to reproduce that. Probably I'll have to setup a Ubuntu VM 16.04 with QGIS 2.18.15, but that'll take some time.

[2018-01-18 14:00] tomchadwin commented on #173
@cayetanobv Can you attach a debugger to get a backtrace? I can't remember how to do it myself (Windows user), but can look it up.

[2018-01-18 14:06] tomchadwin commented on #173
[code]

[2018-01-18 14:17] mnboos commented on #172
Okay nice to know, thanks.

[2018-01-18 16:05] cayetanobv commented on #173
Hi again @mnboos @tomchadwin,

I executed QGIS with GDB debugger and this is the log (only last lines) after I launched Python console:
[code]
Three last lines was printed after I launch Python console (Above lines are QGIS starting process). .

I also found this warning in plugins loading process related to Vector Tiles Reader:
[code]

Thanks,

[2018-01-18 16:10] cayetanobv commented on #173
@mnboos @tomchadwin

I forgot ```bt``` command output in the previous comment:

[code]

[2018-01-18 16:30] cayetanobv commented on #173
@mnboos @tomchadwin More about this bug. When I activate and deactivate plugin from plugin manager QGIS raises a segfault too (This log starts after I launched plugin manager):
[code]

It's very strange QGIS call to libQt5Core.so.5 . My QGIS version (2.18.15) is compiled with Qt 4.8.7.

BackTrace output:
[code]

[2018-01-18 18:35] sfkeller commented on #173
We're using Ubuntu 16.04 and can't reproduce the bug/crash on QGIS 2.18.15.

[2018-01-30 18:17] sfkeller commented on #78
@nvkelso: Great news: https://mapzen.com/blog/long-term-support-mapzen-maps/ . Eager to receive instructions from you cool guys (cheers also to Ian and Matt)!

[2018-01-30 18:35] nvkelso commented on #78
Hello! You're certainly on it :) We're still working out some final
details, be in touch.

On Tue, Jan 30, 2018 at 10:17 AM, Stefan <notifications@github.com> wrote:

[2018-01-31 20:12] mnboos commented on #174
**vector_layers** is present, which is an important thing for the reader.

**bounds**, **minzoom** and **maxzoom** are optional in the metadata table. I can live with that, even though I don't see why it's not a MUST for the metadata table. Now clients have to lookup in the data to extract the required metadata by themself.

[2018-02-04 17:03] Nate-Wessel opened #181 "Can MVT vector tiles be added from a local server?"
This is probably already possible, but perhaps not yet documented. I'm trying to use this plugin to view vector tiles tiles generated by [OSRM](https://github.com/Project-OSRM/osrm-backend) and provided as a service, as documented [here](https://github.com/Project-OSRM/osrm-backend/blob/master/docs/http.md#tile-service). In my case, I can access these tiles at `http://localhost:5004/tile/v1/transi

[2018-02-04 17:21] sfkeller commented on #181
Yes, that's possible and just a metadata.json file away :-(.  This issue is related to #112 and #170.

This plugin (and other db related SW) need this metadata and there's little hope now when reading the gentle attempts where Mapbox finally updates their mbtiles spec. (hopefully soon also TileJSON): https://github.com/mapbox/mbtiles-spec/pull/47/#issuecomment-362702815 .

I know that it's subopti

[2018-02-04 19:14] sfkeller opened #182 "Add Mapcat vector tile support"
Add Mapcat vector tiles as free (sponsored) service - if possible together with a new MB GL JS style - to become another "Server Connection" in this QGIS plugin (similar to #78 (Mapzen/Nexten).

[2018-02-04 19:21] Nate-Wessel commented on #181
Thanks for the quick reply! So if I understand correctly, it's as easy as making a configuration file, but there is no standard format for that file yet? I tried making one anyway,

[code]

but I get the following error  `The field 'vector_layers' is required but not found. This is invalid TileJSON.`, which seems silly since `vector_layers` is specified, if incorrectly.

[2018-02-04 19:31] sfkeller commented on #181
I think you're very close :-). I'm sure @mnboos can help you. I'm also (almost) sure there must be a metadata.json template in the docs - at least I asked him to publish one.

[2018-02-04 19:49] sfkeller opened #183 "Problem uninstalling the plugin (Win 7 Enterprise, QGIS 2.18.14)"
Given QGIS 2.18.14 and a good'ol' Win 7 Enterprise, I'm having following problem uninstalling plugin 1.7.2:

1. Start QGIS
1. Open a QGIS project which contains just one source, a Server Connection (default OpenMapTiles)
1. Close the QGIS project
1. When Uninstalling => A red error message in QGIS window says some files are locked in plugin directory ("<<sys_user_dir>>\.qgis2\python\plugins\vector

[2018-02-04 21:05] tomchadwin commented on #183
Is this connected to earlier discussions about whether MBVT connections remain open after the layers are removed?

[2018-02-05 10:18] mnboos commented on #181
@Nate-Wessel I admit, it's a bit hidden: https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/wiki/Help#metadatajson

I'm wondering right now, why your metadata.json is declined. On the first sight, it looks pretty good.

[2018-02-05 15:38] Nate-Wessel commented on #181
I tried it again with a few different fields and I'm not sure I see what's going wrong here either. I seem to have all the required fields, though I'm not giving a `json` field with an escaped vector_layer attribute as in the example.

There is one complication that I didn't mention. If I give a filepath to the metadata.json file (e.g. `/home/nate/metadata.json`), stored locally on my computer, in

[2018-02-05 17:10] tomchadwin opened #184 "customProperty("VectorTilesReader/vector_tile_source") now friendly name, not URL?"
That's what I seem to see. Or have I got something wrong?

[2018-02-05 17:17] tomchadwin commented on #184
Change was here:

https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/commit/48875b6a7707c3500c44568de35b4ca5bc93430d#diff-d51629ab2ff8c0f5ea17b1debd295744L665

If you cannot revert this change, can I suggest another `customProperty`, such as "vector_tile_url". The qgis2web vector tile export is broken by this change.

[2018-02-06 08:41] mnboos commented on #181
[code]

That's a result of the path not starting with *http(s)*. Actually, it would make sense to support locally stored tilejson files but at the moment, that's not implemented. As a result of this, the current scenario won't be working, sorry for the confusion.

[2018-02-06 08:43] mnboos opened #186 "Support local metadata.json / TileJSON"
Currently, reading the metadata (i.e. `metadata.json` or `TileJSON`) is only supported from a webservice (i.e. a url starting with `http` or `https`).

In order to support other scenarios, it would make sense to also support such files, if they are persisted locally on the disk.

See: #181

[2018-02-06 08:43] mnboos commented on #181
See #186

[2018-02-06 09:54] sfkeller commented on #174
1.3 released! https://github.com/mapbox/mbtiles-spec
Now waiting for an update of TileJSON spec. https://github.com/mapbox/tilejson-spec/issues/14

[2018-02-07 05:46] mnboos commented on #184
That's correct, I needed the name of the connection instead of the url (which btw. can be the same for different connections).
If you need the url, I  can merge the PR.

[2018-02-07 07:20] tomchadwin commented on #184
Yes, I need the URL, so a merge would be great.

[2018-02-07 19:13] #184 closed, assigned to nobody

[2018-02-08 21:06] tomchadwin commented on #184
Thanks!

[2018-03-06 10:07] xkomczax commented on #172
[QGIS 3.0 has been officially released](http://blog.qgis.org/2018/02/23/qgis-3-0-girona-is-released/)

[2018-03-08 08:34] mnboos opened #189 "Mention sponsors in metadata"
The sponsors of the API keys should be added to the `about` section in the metadata file `metadata.txt`.

[2018-03-08 08:35] mnboos commented on #172
Thanks for the info @xkomczax . That means I should ASAP assure the QGIS 3 compatibility.

[2018-03-16 02:36] dingfengboo opened #190 "save property"
for local mbtiles file.
change the features's property and save.
It looks ok at this time.
Then remove the mbtiles and open again.
Nothing changed.

Do I have something wrong?

[2018-03-20 14:20] mnboos commented on #190
The plugin doesn't save changes back to the source-mbtiles file.

[2018-03-20 20:42] sfkeller commented on #78
@nvkelso: Any update on Mapzen tiles (and to #101  )? We're going to integrate Mapcat and I'd love to keep Mapzen remaining as another VT source!

[2018-03-22 12:52] #190 closed, assigned to nobody

[2018-03-22 12:52] mnboos commented on #189
Done. Will be included in the next release.

[2018-03-22 12:52] #189 closed, assigned to mnboos

[2018-03-23 23:01] ear7h opened #191 "SSL handshake error connecting to a server"
I tried connecting to a vector tile server at https://osm.tegola.io/capabilities/osm and it gives me the following SSL error.

![screen shot 2018-03-23 at 15 56 30](https://user-images.githubusercontent.com/23175084/37856629-c3371cbe-2eb2-11e8-9199-28821bb383db.png)

Looking through the relevant code, it seems this might be a problem with QGIS's `QNetworkRequest` function.

[2018-03-26 21:31] sfkeller commented on #191
Thanks for reporting. I can't yet replicate this error: Which QGIS Version do you use (2.18.18) and what did you actually enter in the connection dialog?

If it's rather a bug of QGIS's `QNetworkRequest` then you should direct this report to qgis.org https://www.qgis.org/en/site/getinvolved/development/bugreporting.html .

[2018-03-29 08:25] mnboos commented on #191
@ear7h Thanks for your report! I tried you link and for me it's working. Could you try again please? Which version of the plugin are you using?

[2018-03-29 08:45] mnboos opened #192 "Checkbox for "apply styles" not applied correctly"
If a connection is selected for which a style is configured, the style checkbox is not automatically applied.

[2018-03-29 15:35] PetersonGIS opened #193 "Style not being applied"
Using the following connections:
TileJSON URL: https://osm.tegola.io/capabilities/osm
GL Style JSON URL: https://rawgit.com/PetersonGIS/CamoStyle/master/style.json

I'm able to connect to the data. The data does load with generic styling if I do not check the "Apply GL JSON style (if specified)" check box. (Note that I'm able to connect to the url from issue https://github.com/geometalab/Vector-Ti

[2018-03-29 15:59] PetersonGIS commented on #193
Got it working. I didn't realize you have to re-start qgis when testing out style files as per issue https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/issues/155. The other issue was that the initial zoom level had to be set such that both buildings and land would show up. Previously, building styling wasn't being applied, but that must have been because my initial map scale was 1:24k

[2018-03-29 15:59] #193 closed, assigned to nobody

[2018-03-29 18:30] ear7h commented on #191
I ran through your network logic in the qgis python console with various different https urls (`google.com` and `aws.amazon.com`)  and it succeeded for both but still failed for `osm.tegola.io`.

I'm using version `1.8.0` of the plugin and `2.18.15` of qgis; on macOS `10.12.6`. It might be a an OS related issue based on discussion [here](https://github.com/go-spatial/tegola/issues/304)

[2018-03-30 07:48] mnboos commented on #182
Done

[2018-03-30 07:48] #174 closed, assigned to nobody

[2018-03-30 07:50] mnboos commented on #78
The Mapzen.com connection isn't working anymore and due to this, I'll remove it from the plugin.

[2018-03-30 08:20] mnboos commented on #192
Done, Will be included in the next release.

[2018-03-30 08:20] #192 closed, assigned to mnboos

[2018-04-02 06:31] erictheise opened #194 "Support "type": "categorical"."
Our stylesheets include sections such as:

[code]
The Log Messages Panel reports:
[code]
which I interpret to mean that __Vector-Tiles-Reader-QGIS-Plugin__ is unaware of [legitimate uses of non-integer stops in the context of categorical variables](https://www.mapbox.com/mapbox-gl-js/style-spec/#other).

This is peripheral to what I generally work on so any feedback or direction would be much appr

[2018-04-02 09:32] mnboos commented on #194
Thanks for your report. The current implementation of the style converter is indeed unable to handle such a style. I'll look into it as soon as possible and extend the converter in order to support categorical functions.

[2018-04-02 20:56] nvkelso commented on #78
@mnboos Is there a blocker to using Tilezen vector tiles via Nextzen endpoint?

[2018-04-03 17:10] nvkelso commented on #78
Once https://github.com/tilezen/tapalcatl-py/issues/23 is completed the Nextzen tiles will add support for tilejson, which I think unblocks that use in this plugin?

[2018-04-14 14:14] mnboos commented on #78
@nvkelso Is there a replacement api-key that can be used for the nextzen connection? The mapzen key isn't working on nextzen, unsurprisingly.

[2018-04-14 22:41] nvkelso commented on #78
Details are at:

https://developers.nextzen.org/

[2018-04-15 07:47] mnboos commented on #78
@sfkeller Nextzen doesn't seem to support TileJSON, at least it's not listed under https://developers.nextzen.org/about.html. This means, we cannot provide a nextzen predefined connection at the moment.

[2018-04-15 15:24] nvkelso commented on #78
It does, we’ll add documentation for that.

[2018-04-15 16:16] mnboos commented on #78
You wrote:

I couldn't find anything there, maybe I just didn't see it. As soon as I know how to handle nextzen, I'll readd the connection.

[2018-04-16 03:08] nvkelso commented on #78
Server needed to be tickled, it’s up now:

https://tile.nextzen.org/tilezen/vector/v1/512/all/tilejson.mvt.json?api_key=your-nextzen-api-key

[2018-04-16 08:53] klokan opened #196 "QGIS 3 on Mac - no module named "future" & "past""
QGIS3, clean install of the latest stable release from official (http://www.kyngchaos.com/software/qgis) binaries. Installation of the plugin fails with:

![screen shot 2018-04-16 at 10 52 09](https://user-images.githubusercontent.com/59284/38799253-3eba3182-4164-11e8-87cd-13a403b8b334.png)

Couldn't load plugin 'vector_tiles_reader' due to an error when calling its classFactory() method

ModuleNo

[2018-04-17 07:12] fanvanzh opened #197 "Is there any tools for convert qgis style into mapbox-gl-style?"
Is there any tools for convert qgis style into mapbox-gl-style?

thank you !

[2018-04-17 07:32] mnboos commented on #197
No, not that I know. Maybe @tomchadwin can help.

[2018-04-17 13:00] tomchadwin commented on #197
I don't know of any. I thought about adding a Mapbox GL export option to qgis2web, but have never done so.

[2018-04-18 13:58] fanvanzh commented on #197
thank you for your answer. I decide to develop one plugin.

[2018-04-18 13:58] #197 closed, assigned to nobody

[2018-04-18 15:22] tomchadwin opened #198 ""Exception: unknown" thrown by: x, y = xform.transform(QgsPoint(lng, lat))"
[code]

Just updated the plugin via the plugin manager, so v2.0.0.

[2018-04-18 22:32] bblobbett opened #199 "pathing error, but what does it mean?"
upon trying to load a MBTile file I get this error

An error has occurred while executing Python code:

TypeError: stat: path should be string, bytes, os.PathLike or integer, not tuple
Traceback (most recent call last):
  File "C:/Users/svanroy/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\vector_tiles_reader\ui\dialogs.py", line 226, in _select_file_path
    if open_file_name and os.

[2018-04-19 18:18] mnboos commented on #198
Thanks for the report. Unfortunately, I cannot reproduce the problem, neither in Windows nor in Ubuntu. Does that happen all the time or only at the installation? Is the plugin usable otherwise?

[2018-04-19 18:31] mnboos commented on #199
Thank you for the report.

I fixed the bug with commmit d860b7842cdeefea9bfdafbe2e5762d603fdaaca which will be included in the next release.

[2018-04-19 18:31] #199 closed, assigned to nobody

[2018-04-19 18:39] tomchadwin commented on #198
I can't now reproduce, but I wonder if my project was in a different CRS. I'll close, but comment again if it reoccurs.

[2018-04-19 18:40] mnboos commented on #196
Thanks for the report. I removed all the future imports with commit 76a80da0a55b715cadd35a961e5c76fd72f58cf3 and hope the bug is fixed with this measure.

[2018-04-19 18:42] mnboos commented on #198
Yes please keep me updated! Thanks for testing.

[2018-04-19 18:42] #198 closed, assigned to nobody

[2018-04-20 09:35] doskabouter opened #201 "Unable to open local .mbtiles file"
On windows 7, Qgis 3.0.1
When I open a .mbtiles file, I get an error that some function parameter must be a string instead of a tuple.

This seems to be caused by the QFileDialog.getOpenFileName returning a tuple (selectedfilename,"Mapbox Tiles (*.mbtiles)") in dialogs.py, line 225.

For now, I set open_file_name to open_file_name[0] and that seems to solve the issue.

[2018-04-20 12:26] tomchadwin commented on #201
Already fixed in master, I think, by https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/pull/200/commits/d860b7842cdeefea9bfdafbe2e5762d603fdaaca

[2018-04-20 12:27] mnboos commented on #201
Correct, thanks @tomchadwin

Due to the unavailability of the QGIS plugin store, I was unable to release the latest version 2.0.1 until now. At this moment, the new version should already be available for download.

[2018-04-20 12:27] #201 closed, assigned to nobody

[2018-04-20 12:28] mnboos commented on #196
@klokan  The version 2.0.1 has been released now.

[2018-04-25 06:15] klokan commented on #196
Funny change. The plugin still does not install.

Now module "past" is not found:

[code]

[2018-04-26 06:27] mnboos commented on #196
Thanks again! Is fixed and will be included in the next release.

[2018-04-26 14:54] mnboos commented on #196
The plugin version 2.0.2 is published and OSX should work fine now.

[2018-07-01 05:46] dylrich opened #203 "Enabling Vector Tiles Reader causes crash on Fedora 28"
Hi all,

I can successfully install the plugin, and have confirmed the files are in the correct place in my plugins directory. However, upon enabling the plugin, QGIS will think for a few seconds and then crash consistently, every time. I am using QGIS 3.2 on Fedora 28. I don't believe this behavior was happening in early 3.0 releases, but I could be mistaken. If there is other information that I

[2018-07-01 10:46] sfkeller commented on #203
Hi Dylan. This plugin was definitely not yet tested with 3.2. So we appreciate your testing activities and debugging info.

[2018-07-07 09:16] mnboos commented on #203
Thanks @dylrich and sorry for the delay. I tested the plugin with 3.2 and there were indeed some errors, at least with the predefined connections (HTTP status 301 has not been handled correctly). However, this may only be valid for windows, I'll test it on Ubuntu too but I don't have a Fedora at hand.

Would you mind having a look at the temp folder of your system if there's a folder "vector_tiles

[2018-07-18 21:28] kuon commented on #203
I have the same issue using archlinux.

launching qgis from the command line produces the following output:

[code]

I found the log file, but it was empty.

[2018-07-19 02:07] dylrich commented on #203
Hi there - sorry for the late reply. There is a log file on my system, but like @kuon, mine is empty.

[2018-07-19 08:21] sfkeller commented on #196
Resolved?

[2018-07-23 10:37] tomchadwin opened #205 "Layer Z order"
I'm testing OS ZoomStack mbtiles locally (https://www.ordnancesurvey.co.uk/blog/2018/07/join-os-open-zoomstack-trial/?utm_source=Twitter&utm_medium=social&utm_campaign=SocialSignIn&utm_content=Zoomstack). On opening it, layer groups are put in alphabetic order. Is there no concept of layer order/z-index in MBTiles? If not, please close the issue. If there is, can it be read and implemented in the

[2018-07-23 11:11] tomchadwin opened #207 "GL style parse failure"
Might be specific to QGIS3 (EDIT: no, same error with QGIS2).

I'm getting this error when trying to use a published GL style for OS ZoomStack.

Path: C:/Users/tchadwin/Desktop/OS-Open-Zoomstack.mbtiles
(downloaded from https://www.ordnancesurvey.co.uk/business-and-government/products/os-open-zoomstack.html)

GL Style JSON URL: https://raw.githubusercontent.com/OrdnanceSurvey/OS-Open-Zoomstack-Sty

[2018-07-23 15:16] tomchadwin opened #208 "Reopened project - no new features load when pan/zoom"
- new project
- add local MBTiles
- save project
- close project
- reopen project

Some layers now claim no have no geometry.

[2018-07-23 17:53] tomchadwin opened #209 "AttributeError: 'ConnectionsDialog' object has no attribute 'connect'"
Occurs when the Refresh button on the MBTiles tab is pressed

[2018-07-24 20:41] tomchadwin commented on #208
Having tested this more, is it that layers not present in the current view show up as tables without geometry? And do they change to layers with geometry when they come into the view?

[2018-07-24 20:45] tomchadwin opened #210 "Moving layers in layer tree"
If layers are moved in the layer tree (eg taken out of their layer group), they seem to get recreated/duplicated in their original position in certain circumstances. I'm not quite sure what triggers this yet.

[2018-07-24 21:06] mnboos commented on #208
What do you mean by "tables without geometry"?

It is correct, that the actually available data is only loaded for the visible extent. This is done for better loading performance.

[2018-07-30 05:19] mnboos commented on #209
Thanks, I'll fix that.